flows.json
[
    {
        "id": "6cda5a5f32196c63",
        "type": "tab",
        "label": "Greenhouse Starter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a8b7c6d5e4f3002",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "38fa402bc4e15b76",
        "type": "sqlitedb",
        "db": "/home/pff/greenhouse/db/greenhouse_db_v2.db",
        "mode": "RWC"
    },
    {
        "id": "f21e5fa854a87f38",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "67be606e10e97380",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Greenhouse Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 12,
                "sy": 24,
                "gx": 6,
                "gy": 6,
                "cx": 12,
                "cy": 6,
                "px": 10,
                "py": 0
            }
        }
    },
    {
        "id": "062287387a26aec8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ad1666f09e21ea6d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#111827",
            "primary": "#22c55e",
            "bgPage": "#0b1220",
            "groupBg": "#111827",
            "groupOutline": "#1f2937"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "6px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3f12950bc7b59498",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "062287387a26aec8",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "85dcddf4de18c2df",
        "type": "ui-group",
        "name": "GH Status",
        "page": "3f12950bc7b59498",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "239514801c1bffa2",
        "type": "serial in",
        "z": "6cda5a5f32196c63",
        "name": "UNO",
        "serial": "f21e5fa854a87f38",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "0331b7e8018058e8"
            ]
        ]
    },
    {
        "id": "0331b7e8018058e8",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Parse sensor line (JSON or key=val)",
        "func": "let line = msg.payload;\n\nif (Buffer.isBuffer(line)) {\n    line = line.toString();\n}\n\nline = String(line).trim();\n\nif (!line) return null;\n\n// Try JSON first\nif (line.startsWith(\"{\") && line.endsWith(\"}\")) {\n    try {\n        let obj = JSON.parse(line);\n\n        msg.payload = {\n            ts: obj.ts,\n            t1: obj.t1,\n            t2: obj.t2,\n            tavg: obj.tavg,\n            h1: obj.h1,\n            h2: obj.h2,\n            havg: obj.havg,\n            soil: obj.soil,\n            lux: obj.lux,\n            louvre_pct: obj.louvre_pct,\n            louvre_state: obj.louvre_state,\n            fan_pct: obj.fan_pct,\n            lightOn: obj.lightOn\n        };\n\n        return msg;\n    } catch (e) {\n        node.warn(\"JSON parse failed: \" + e.message);\n        return null;\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "f98d2f1f0673b101",
                "ee12a869e25d83bb",
                "4b266addf47812be",
                "3999dea12c82b1a6",
                "57ce7260347bd8de"
            ]
        ]
    },
    {
        "id": "f98d2f1f0673b101",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format CSV line",
        "func": "var p = msg.payload || {};\n\nconst columns = [\"timestamp\",\"t1\",\"t2\",\"tavg\",\"h1\",\"h2\",\"havg\",\"soil\",\"lux\"];\n\nfunction missing(x) {\n    return x === undefined || x === null || x === \"\";\n}\n\n// Reject incomplete rows so you stop getting timestamp-only lines\nif (\n    missing(p.ts)   ||\n    missing(p.t1)   ||\n    missing(p.t2)   ||\n    missing(p.tavg) ||\n    missing(p.h1)   ||\n    missing(p.h2)   ||\n    missing(p.havg) ||\n    missing(p.soil) ||\n    missing(p.lux)\n) {\n    return null;\n}\n\nvar d = new Date(p.ts);\nif (isNaN(d.getTime())) {\n    return null;\n}\n\nvar line = [\n    d.toISOString(),\n    p.t1, p.t2, p.tavg,\n    p.h1, p.h2, p.havg,\n    p.soil, p.lux\n].join(\",\") + \"\\n\";\n\nmsg.payload = line;\nmsg.csv_header = columns.join(\",\") + \"\\n\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 120,
        "wires": [
            [
                "887f4b565053691c"
            ]
        ]
    },
    {
        "id": "887f4b565053691c",
        "type": "file",
        "z": "6cda5a5f32196c63",
        "name": "Append CSV log",
        "filename": "/home/pff/greenhouse/logs/sensors.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ee12a869e25d83bb",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Split to chart points",
        "func": "var p = msg.payload;\nvar ts = p.ts;\nvar out = [];\nfunction push(topic, val){\n    if(typeof val === 'number'){\n        out.push({topic: topic, payload: val, timestamp: ts});\n    }\n}\npush('Temp (avg)', p.tavg);\npush('Humidity (avg)', p.havg);\npush('Soil Moisture', p.soil);\npush('Lighting', p.lux);\npush('Fan %', p.fan_pct);\nreturn [out];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 240,
        "wires": [
            [
                "f02dc28f81b719e3"
            ]
        ]
    },
    {
        "id": "fb8c481a34f0fd0e",
        "type": "mqtt out",
        "z": "6cda5a5f32196c63",
        "name": "MQTT Out (data)",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9a8b7c6d5e4f3002",
        "x": 1310,
        "y": 160,
        "wires": [],
        "info": "// p is your live sample object\r\nlet p = msg.payload;\r\n\r\n// choose your topic (keep what you already use)\r\nmsg.topic = \"greenhouse/data/latest\";\r\n\r\n// IMPORTANT: publish JSON string\r\nmsg.payload = JSON.stringify(p);\r\n\r\nreturn msg;\r\n"
    },
    {
        "id": "3999dea12c82b1a6",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format MQTT payload (live)",
        "func": "// Publish the live parsed sample to LAN via MQTT\nmsg.topic = \"greenhouse/data/live\";\n// msg.payload is already the parsed object from Parse sensor line\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 160,
        "wires": [
            [
                "fb8c481a34f0fd0e"
            ]
        ]
    },
    {
        "id": "4b266addf47812be",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "db_function",
        "func": "let p = msg.payload;\n\n// Ensure timestamp exists (epoch ms)\nif (!p.ts) {\n    p.ts = Date.now();\n}\n\n// Preserve original decoded sample for dashboard/other branches\nmsg.data = p;\n\n// Build parameterized SQL\nmsg.topic = `\nINSERT INTO greenhouse_samples\n(ts, t1, t2, tavg, h1, h2, havg, soil, lux, louvre_pct, louvre_state)\nVALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)\n`;\n\nmsg.payload = [\n  p.ts,\n  p.t1 ?? null,\n  p.t2 ?? null,\n  p.tavg ?? null,\n  p.h1 ?? null,\n  p.h2 ?? null,\n  p.havg ?? null,\n  p.soil ?? null,\n  p.lux ?? null,\n  p.louvre_pct ?? null,\n  p.louvre_state ?? null\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "b91ca825f88143fb"
            ]
        ]
    },
    {
        "id": "b91ca825f88143fb",
        "type": "sqlite",
        "z": "6cda5a5f32196c63",
        "mydb": "38fa402bc4e15b76",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "greenhouse_db",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "a00e9e4ee9f938a1",
                "10d54d59890a7417"
            ]
        ]
    },
    {
        "id": "a00e9e4ee9f938a1",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "10d54d59890a7417",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format MQTT payload",
        "func": "// Expect rows from SQLite\nif (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n    return null;\n}\n\n// Take the newest row\nconst row = msg.payload[0];\n\n// Set MQTT topic\nmsg.topic = \"greenhouse/data/latest\";\n\n// Publish JSON object\nmsg.payload = row;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 380,
        "wires": [
            [
                "fb8c481a34f0fd0e"
            ]
        ]
    },
    {
        "id": "9c954700ec15527d",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 460,
        "wires": []
    },
    {
        "id": "76de5bf877b6191a",
        "type": "mqtt in",
        "z": "6cda5a5f32196c63",
        "name": "",
        "topic": "greenhouse/data/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9a8b7c6d5e4f3002",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "9c954700ec15527d",
                "dd71f97f1b1584dd"
            ]
        ]
    },
    {
        "id": "8ba39c5ed2842546",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "query db (every 60s)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "8def210fb4efeb3c"
            ]
        ]
    },
    {
        "id": "8def210fb4efeb3c",
        "type": "change",
        "z": "6cda5a5f32196c63",
        "name": "Build SELECT query (latest row)",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT ts, t1, t2, tavg, h1, h2, havg, soil, lux FROM greenhouse_samples ORDER BY ts DESC LIMIT 1;",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ ]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "b91ca825f88143fb"
            ]
        ]
    },
    {
        "id": "0d1202f9041fb697",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Temperature",
        "func": "// if msg.payload is already an object\nmsg.payload = Math.round(msg.payload.tavg);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 540,
        "wires": [
            [
                "0c4e3ed893b58edf"
            ]
        ]
    },
    {
        "id": "d4942742387dabb4",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Humidity",
        "func": "// if msg.payload is already an object\nmsg.payload = Math.round(msg.payload.havg);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 580,
        "wires": [
            [
                "d410dc6f8bb74f8c"
            ]
        ]
    },
    {
        "id": "112b42a1704108f8",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Lux",
        "func": "// if msg.payload is already an object\nmsg.payload = Math.round(msg.payload.lux);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 620,
        "wires": [
            [
                "d5a77765ea479973"
            ]
        ]
    },
    {
        "id": "c5aa37be95cbd5f2",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "soil",
        "func": "// if msg.payload is already an object\nmsg.payload = Math.round(msg.payload.soil);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "2ef95992cab18cd8"
            ]
        ]
    },
    {
        "id": "f2588d218f7169c5",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "louvre_pct",
        "func": "msg.payload = msg.payload.louvre_pct;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 700,
        "wires": [
            [
                "cf106de8c4ae7fa3"
            ]
        ]
    },
    {
        "id": "744e76bedde5edb1",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "louve_state",
        "func": "let state = msg.payload.louvre_state;\n\nif (state === \"open\") {\n    msg.payload = \"🟢 OPEN — Ventilating\";\n} else if (state === \"closed\") {\n    msg.payload = \"⚫ CLOSED — Sealed\";\n} else if (state === \"opening\") {\n    msg.payload = \"🟡 OPENING — Adjusting\";\n} else if (state === \"closing\") {\n    msg.payload = \"🟡 CLOSING — Adjusting\";\n} else {\n    msg.payload = \"⚪ UNKNOWN\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 740,
        "wires": [
            [
                "305b260008f05bc2"
            ]
        ]
    },
    {
        "id": "d410dc6f8bb74f8c",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 580,
        "wires": [
            [
                "a6d64198e6eaae62"
            ]
        ]
    },
    {
        "id": "2ef95992cab18cd8",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 660,
        "wires": [
            [
                "1e53d5d61ad2dcde",
                "66c91ea4b80fc08f"
            ]
        ]
    },
    {
        "id": "0c4e3ed893b58edf",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 540,
        "wires": [
            [
                "bb6a10ac977d0717"
            ]
        ]
    },
    {
        "id": "d5a77765ea479973",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 620,
        "wires": [
            [
                "3a5ee99f6baf7088"
            ]
        ]
    },
    {
        "id": "cf106de8c4ae7fa3",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 700,
        "wires": [
            [
                "66d981e6d96be52c"
            ]
        ]
    },
    {
        "id": "f02dc28f81b719e3",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "4af3079dbb6762fa"
            ]
        ]
    },
    {
        "id": "305b260008f05bc2",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 740,
        "wires": [
            [
                "072fb8dffe0e9dbc"
            ]
        ]
    },
    {
        "id": "911ba08b535d0c83",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Temperature",
        "group": "85dcddf4de18c2df",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°F",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            },
            {
                "from": "33",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "55",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "86",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "96",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "120",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1570,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "79974308ea82383b",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Humidity",
        "group": "85dcddf4de18c2df",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "90",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1560,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "05bba795903b4a55",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Lux",
        "group": "85dcddf4de18c2df",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Lighting",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Lux",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4000",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "10000",
                "color": "#00c800",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1550,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b1163310511ba436",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Soil Moisture",
        "group": "85dcddf4de18c2df",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Soil Moisture",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "65",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1570,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "022edd664dc4b3d5",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Louvre Open %",
        "group": "85dcddf4de18c2df",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Louve Setting",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#969696",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1580,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6a9c73d878494885",
        "type": "ui-text",
        "z": "6cda5a5f32196c63",
        "group": "85dcddf4de18c2df",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Louvre State",
        "label": "Louvre State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1570,
        "y": 740,
        "wires": []
    },
    {
        "id": "4cb5f93570d7d0ca",
        "type": "ui-chart",
        "z": "6cda5a5f32196c63",
        "group": "85dcddf4de18c2df",
        "name": "History",
        "label": "History",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "12",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "smooth",
        "x": 1260,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4af3079dbb6762fa",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "4cb5f93570d7d0ca"
            ]
        ]
    },
    {
        "id": "3a5ee99f6baf7088",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 620,
        "wires": [
            [
                "05bba795903b4a55"
            ]
        ]
    },
    {
        "id": "bb6a10ac977d0717",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 540,
        "wires": [
            [
                "911ba08b535d0c83"
            ]
        ]
    },
    {
        "id": "a6d64198e6eaae62",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 580,
        "wires": [
            [
                "79974308ea82383b"
            ]
        ]
    },
    {
        "id": "66c91ea4b80fc08f",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 660,
        "wires": [
            [
                "b1163310511ba436"
            ]
        ]
    },
    {
        "id": "66d981e6d96be52c",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 700,
        "wires": [
            [
                "022edd664dc4b3d5"
            ]
        ]
    },
    {
        "id": "072fb8dffe0e9dbc",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 740,
        "wires": [
            [
                "6a9c73d878494885"
            ]
        ]
    },
    {
        "id": "36efe3892333e559",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "write csv header",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp,t1,t2,tavg,h1,h2,havg,soil,lux",
        "payloadType": "str",
        "x": 640,
        "y": 80,
        "wires": [
            [
                "4abddf2657d029ce"
            ]
        ]
    },
    {
        "id": "4abddf2657d029ce",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "function 1",
        "func": "msg.payload = \"timestamp,t1,t2,tavg,h1,h2,havg,soil,lux\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 80,
        "wires": [
            [
                "887f4b565053691c"
            ]
        ]
    },
    {
        "id": "fanpctfunc000001",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "fan_pct",
        "func": "msg.payload = Math.round(msg.payload.fan_pct);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 780,
        "wires": [
            [
                "fanpctrbe000001"
            ]
        ]
    },
    {
        "id": "fanpctrbe000001",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 780,
        "wires": [
            [
                "fanpctdelay00001"
            ]
        ]
    },
    {
        "id": "fanpctdelay00001",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 780,
        "wires": [
            [
                "fanpctgauge00001"
            ]
        ]
    },
    {
        "id": "fanpctgauge00001",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Fan Speed",
        "group": "85dcddf4de18c2df",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fan Speed",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#969696",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#8ff0a4",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#33d17a",
                "text": "",
                "textType": "label"
            },
            {
                "from": "75",
                "color": "#00c800",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1570,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "57ce7260347bd8de",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "1e53d5d61ad2dcde",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "dd71f97f1b1584dd",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "function 2",
        "func": "// Guard greenhouse payload\n// Purpose:\n// 1) Reject malformed payloads\n// 2) Hold last known good payload\n// 3) Prevent one bad lux/glitch sample from zeroing all gauges\n\nlet p = msg.payload;\nlet last = context.get(\"lastGood\") || null;\n\nfunction isNum(v) {\n    return typeof v === \"number\" && isFinite(v);\n}\n\n// Payload must be an object\nif (typeof p !== \"object\" || p === null) {\n    if (last) {\n        msg.payload = last;\n        return msg;\n    }\n    return null;\n}\n\n// Required numeric fields\nlet required = [\n    \"t1\", \"t2\", \"tavg\",\n    \"h1\", \"h2\", \"havg\",\n    \"soil\", \"lux\",\n    \"louvre_pct\", \"fan_pct\"\n];\n\nfor (let k of required) {\n    if (!isNum(p[k])) {\n        if (last) {\n            msg.payload = last;\n            return msg;\n        }\n        return null;\n    }\n}\n\n// Optional string/state field check\nif (typeof p.louvre_state !== \"string\") {\n    if (last) {\n        msg.payload = last;\n        return msg;\n    }\n    return null;\n}\n\n// Range checks\nif (p.t1 < -40 || p.t1 > 150) { msg.payload = last || p; return last ? msg : null; }\nif (p.t2 < -40 || p.t2 > 150) { msg.payload = last || p; return last ? msg : null; }\nif (p.tavg < -40 || p.tavg > 150) { msg.payload = last || p; return last ? msg : null; }\n\nif (p.h1 < 0 || p.h1 > 100) { msg.payload = last || p; return last ? msg : null; }\nif (p.h2 < 0 || p.h2 > 100) { msg.payload = last || p; return last ? msg : null; }\nif (p.havg < 0 || p.havg > 100) { msg.payload = last || p; return last ? msg : null; }\n\nif (p.soil < 0 || p.soil > 100) { msg.payload = last || p; return last ? msg : null; }\nif (p.lux < 0 || p.lux > 150000) { msg.payload = last || p; return last ? msg : null; }\n\nif (p.louvre_pct < 0 || p.louvre_pct > 100) { msg.payload = last || p; return last ? msg : null; }\nif (p.fan_pct < 0 || p.fan_pct > 100) { msg.payload = last || p; return last ? msg : null; }\n\n// Lux deglitch:\n// If lux suddenly drops to 0 from a normal reading, treat it as a glitch\nif (last && isNum(last.lux)) {\n    if (p.lux === 0 && last.lux > 5) {\n        msg.payload = last;\n        return msg;\n    }\n}\n\n// Save good payload\ncontext.set(\"lastGood\", p);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "0d1202f9041fb697",
                "d4942742387dabb4",
                "112b42a1704108f8",
                "c5aa37be95cbd5f2",
                "f2588d218f7169c5",
                "744e76bedde5edb1",
                "fanpctfunc000001",
                "610ae0cd1478dcb8"
            ]
        ]
    },
    {
        "id": "acb1ac1ac94383a3",
        "type": "ui-text",
        "z": "6cda5a5f32196c63",
        "group": "85dcddf4de18c2df",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Grow Lights",
        "label": "Grow Light Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1570,
        "y": 820,
        "wires": []
    },
    {
        "id": "610ae0cd1478dcb8",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Grow LIght Status",
        "func": "let on = msg.payload.lightOn;\n\nif (on === true) {\n    msg.payload = \"🟢 ON — Supplemental Lighting\";\n} else {\n    msg.payload = \"⚫ OFF — Ambient Light Sufficient\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 820,
        "wires": [
            [
                "06c0c07df8a99733"
            ]
        ]
    },
    {
        "id": "ef8c56ca1aaaa404",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1330,
        "y": 820,
        "wires": [
            [
                "acb1ac1ac94383a3"
            ]
        ]
    },
    {
        "id": "06c0c07df8a99733",
        "type": "rbe",
        "z": "6cda5a5f32196c63",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 820,
        "wires": [
            [
                "ef8c56ca1aaaa404"
            ]
        ]
    }
]