node-red/flows.json
[
    {
        "id": "6cda5a5f32196c63",
        "type": "tab",
        "label": "Greenhouse Starter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a8b7c6d5e4f3002",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "38fa402bc4e15b76",
        "type": "sqlitedb",
        "db": "/home/pff/greenhouse/db/greenhouse_db_v2.db",
        "mode": "RWC"
    },
    {
        "id": "f21e5fa854a87f38",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "67be606e10e97380",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Greenhouse Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 12,
                "sy": 24,
                "gx": 6,
                "gy": 6,
                "cx": 12,
                "cy": 6,
                "px": 10,
                "py": 0
            }
        }
    },
    {
        "id": "062287387a26aec8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ad1666f09e21ea6d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#111827",
            "primary": "#22c55e",
            "bgPage": "#0b1220",
            "groupBg": "#111827",
            "groupOutline": "#1f2937"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "6px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3f12950bc7b59498",
        "type": "ui-page",
        "name": "Greenhouse Dashboard",
        "ui": "062287387a26aec8",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "85dcddf4de18c2df",
        "type": "ui-group",
        "name": "Gauges",
        "page": "3f12950bc7b59498",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2a41f864d2129443",
        "type": "ui-group",
        "name": "Fault Indication",
        "page": "3f12950bc7b59498",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ab05efb03ef6ba92",
        "type": "ui-page",
        "name": "History",
        "ui": "062287387a26aec8",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f48d03ed9e40aac6",
        "type": "ui-page",
        "name": "System Control",
        "ui": "062287387a26aec8",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "1278781a5f417ce4",
        "type": "ui-group",
        "name": "Sys Control",
        "page": "f48d03ed9e40aac6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "db507c4f3e90976b",
        "type": "ui-group",
        "name": "HIstory",
        "page": "ab05efb03ef6ba92",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "239514801c1bffa2",
        "type": "serial in",
        "z": "6cda5a5f32196c63",
        "name": "UNO",
        "serial": "f21e5fa854a87f38",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "0331b7e8018058e8"
            ]
        ]
    },
    {
        "id": "0331b7e8018058e8",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Parse sensor",
        "func": "let line = msg.payload;\n\nif (Buffer.isBuffer(line)) {\n    line = line.toString();\n}\n\nline = String(line || \"\").trim();\nif (!line) return null;\n\n// Ignore echoed command responses or blank noise\nif (!line.includes(\",\")) return null;\n\n// Capture and skip CSV header\nif (line.startsWith(\"ts_ms,\")) {\n    flow.set(\"gh_csv_header\", line);\n    return null;\n}\n\nconst cols = line.split(\",\");\nconst EXPECTED = 55;\nif (cols.length !== EXPECTED) {\n    node.warn(\"CSV field count mismatch: got \" + cols.length + \", expected \" + EXPECTED + \" :: \" + line);\n    return null;\n}\n\nfunction toNum(v) {\n    if (v === undefined || v === null || v === \"\") return null;\n    const n = Number(v);\n    return Number.isFinite(n) ? n : null;\n}\n\nfunction toInt(v) {\n    const n = toNum(v);\n    return n === null ? null : Math.trunc(n);\n}\n\nfunction toBool(v) {\n    if (v === true || v === false) return v;\n    if (v === 1 || v === \"1\") return true;\n    if (v === 0 || v === \"0\") return false;\n    return null;\n}\n\nfunction avgValid(arr) {\n    const vals = arr.filter(v => typeof v === \"number\" && isFinite(v));\n    if (!vals.length) return null;\n    return vals.reduce((a, b) => a + b, 0) / vals.length;\n}\n\nfunction louvreStateText(raw, pct) {\n    if (typeof raw === \"string\" && raw !== \"\") {\n        const s = raw.toLowerCase();\n        if ([\"opening\",\"closing\",\"stopped\",\"open\",\"closed\"].includes(s)) return s;\n        if (s === \"0\") raw = 0;\n        else if (s === \"1\") raw = 1;\n        else if (s === \"2\") raw = 2;\n    }\n\n    const n = Number(raw);\n    if (Number.isFinite(n)) {\n        if (n === 0) return \"opening\";\n        if (n === 1) return \"closing\";\n        if (n === 2) {\n            if (typeof pct === \"number\") {\n                if (pct <= 5) return \"closed\";\n                if (pct >= 95) return \"open\";\n            }\n            return \"stopped\";\n        }\n    }\n\n    if (typeof pct === \"number\") {\n        if (pct <= 5) return \"closed\";\n        if (pct >= 95) return \"open\";\n    }\n    return \"stopped\";\n}\n\nconst p = {\n    // native Arduino CSV fields\n    ts_ms: toInt(cols[0]),\n    mode: cols[1],\n    irrigation_mode: cols[2],\n    temp_f: toNum(cols[3]),\n    rh_pct: toNum(cols[4]),\n    tank_temp_f: toNum(cols[5]),\n    lux: toInt(cols[6]),\n    soil1_raw: toInt(cols[7]),\n    soil1_pct: toNum(cols[8]),\n    soil2_raw: toInt(cols[9]),\n    soil2_pct: toNum(cols[10]),\n    soil3_raw: toInt(cols[11]),\n    soil3_pct: toNum(cols[12]),\n    soil4_raw: toInt(cols[13]),\n    soil4_pct: toNum(cols[14]),\n    batt_v: toNum(cols[15]),\n    pv_v: toNum(cols[16]),\n    pv_present: toBool(cols[17]),\n    louvre_state_raw: cols[18],\n    louvre_pos_pct: toNum(cols[19]),\n    row1: toBool(cols[20]),\n    row2: toBool(cols[21]),\n    row3: toBool(cols[22]),\n    row4: toBool(cols[23]),\n    row1_en: toBool(cols[24]),\n    row2_en: toBool(cols[25]),\n    row3_en: toBool(cols[26]),\n    row4_en: toBool(cols[27]),\n    row1_ms: toInt(cols[28]),\n    row2_ms: toInt(cols[29]),\n    row3_ms: toInt(cols[30]),\n    row4_ms: toInt(cols[31]),\n    row1_start_pct: toNum(cols[32]),\n    row2_start_pct: toNum(cols[33]),\n    row3_start_pct: toNum(cols[34]),\n    row4_start_pct: toNum(cols[35]),\n    row1_stop_pct: toNum(cols[36]),\n    row2_stop_pct: toNum(cols[37]),\n    row3_stop_pct: toNum(cols[38]),\n    row4_stop_pct: toNum(cols[39]),\n    pump_on: toBool(cols[40]),\n    heater_on: toBool(cols[41]),\n    light_on: toBool(cols[42]),\n    fan_pwm: toInt(cols[43]),\n    rows_run_active: toBool(cols[44]),\n    rows_run_auto: toBool(cols[45]),\n    active_row: toInt(cols[46]),\n    temp_open_f: toNum(cols[47]),\n    temp_close_f: toNum(cols[48]),\n    rh_open_pct: toNum(cols[49]),\n    tank_heat_on_f: toNum(cols[50]),\n    tank_heat_off_f: toNum(cols[51]),\n    schedule_interval_ms: toInt(cols[52]),\n    eco_mode: toBool(cols[53]),\n    fault: toInt(cols[54])\n};\n\np.ts = Date.now();  // wall-clock timestamp for DB/charting on Pi\np.controller_uptime_ms = p.ts_ms;\n\np.louvre_state = louvreStateText(p.louvre_state_raw, p.louvre_pos_pct);\np.louvre_pct = p.louvre_pos_pct;\n\nconst soilVals = [p.soil1_pct, p.soil2_pct, p.soil3_pct, p.soil4_pct];\np.soil_avg_pct = avgValid(soilVals);\np.soil = p.soil_avg_pct;\n\np.tavg = p.temp_f;\np.havg = p.rh_pct;\np.t1 = p.temp_f;\np.t2 = p.temp_f;\np.h1 = p.rh_pct;\np.h2 = p.rh_pct;\n\nconst fanPct = (typeof p.fan_pwm === \"number\") ? Math.round((p.fan_pwm / 255) * 100) : null;\np.fan_pct = fanPct;\np.lightOn = !!p.light_on;\n\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "56a18a3fe5e40a59"
            ]
        ]
    },
    {
        "id": "f98d2f1f0673b101",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format CSV line",
        "func": "var p = msg.payload || {};\n\nconst columns = [\n    \"timestamp\",\"ts_ms\",\"mode\",\"irrigation_mode\",\n    \"temp_f\",\"rh_pct\",\"tank_temp_f\",\"lux\",\n    \"soil1_raw\",\"soil1_pct\",\"soil2_raw\",\"soil2_pct\",\n    \"soil3_raw\",\"soil3_pct\",\"soil4_raw\",\"soil4_pct\",\n    \"soil_avg_pct\",\n    \"batt_v\",\"pv_v\",\"pv_present\",\n    \"louvre_state\",\"louvre_pos_pct\",\n    \"row1\",\"row2\",\"row3\",\"row4\",\n    \"row1_en\",\"row2_en\",\"row3_en\",\"row4_en\",\n    \"row1_ms\",\"row2_ms\",\"row3_ms\",\"row4_ms\",\n    \"row1_start_pct\",\"row2_start_pct\",\"row3_start_pct\",\"row4_start_pct\",\n    \"row1_stop_pct\",\"row2_stop_pct\",\"row3_stop_pct\",\"row4_stop_pct\",\n    \"pump_on\",\"heater_on\",\"light_on\",\n    \"fan_pwm\",\"fan_pct\",\n    \"rows_run_active\",\"rows_run_auto\",\"active_row\",\n    \"temp_open_f\",\"temp_close_f\",\"rh_open_pct\",\n    \"tank_heat_on_f\",\"tank_heat_off_f\",\"schedule_interval_ms\",\n    \"eco_mode\",\"fault\"\n];\n\nfunction missing(x) {\n    return x === undefined || x === null || x === \"\";\n}\n\nif (\n    missing(p.ts) ||\n    missing(p.ts_ms) ||\n    missing(p.temp_f) ||\n    missing(p.rh_pct) ||\n    missing(p.lux)\n) {\n    return null;\n}\n\nvar d = new Date(p.ts);\nif (isNaN(d.getTime())) return null;\n\nfunction val(v) {\n    return missing(v) ? \"\" : v;\n}\n\nvar line = [\n    d.toISOString(), val(p.ts_ms), val(p.mode), val(p.irrigation_mode),\n    val(p.temp_f), val(p.rh_pct), val(p.tank_temp_f), val(p.lux),\n    val(p.soil1_raw), val(p.soil1_pct), val(p.soil2_raw), val(p.soil2_pct),\n    val(p.soil3_raw), val(p.soil3_pct), val(p.soil4_raw), val(p.soil4_pct),\n    val(p.soil_avg_pct),\n    val(p.batt_v), val(p.pv_v), val(p.pv_present ? 1 : 0),\n    val(p.louvre_state), val(p.louvre_pos_pct),\n    val(p.row1 ? 1 : 0), val(p.row2 ? 1 : 0), val(p.row3 ? 1 : 0), val(p.row4 ? 1 : 0),\n    val(p.row1_en ? 1 : 0), val(p.row2_en ? 1 : 0), val(p.row3_en ? 1 : 0), val(p.row4_en ? 1 : 0),\n    val(p.row1_ms), val(p.row2_ms), val(p.row3_ms), val(p.row4_ms),\n    val(p.row1_start_pct), val(p.row2_start_pct), val(p.row3_start_pct), val(p.row4_start_pct),\n    val(p.row1_stop_pct), val(p.row2_stop_pct), val(p.row3_stop_pct), val(p.row4_stop_pct),\n    val(p.pump_on ? 1 : 0), val(p.heater_on ? 1 : 0), val(p.light_on ? 1 : 0),\n    val(p.fan_pwm), val(p.fan_pct),\n    val(p.rows_run_active ? 1 : 0), val(p.rows_run_auto ? 1 : 0), val(p.active_row),\n    val(p.temp_open_f), val(p.temp_close_f), val(p.rh_open_pct),\n    val(p.tank_heat_on_f), val(p.tank_heat_off_f), val(p.schedule_interval_ms),\n    val(p.eco_mode ? 1 : 0), val(p.fault)\n].join(\",\") + \"\\n\";\n\nmsg.payload = line;\nmsg.csv_header = columns.join(\",\") + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 120,
        "wires": [
            [
                "6b81021f817b48c5"
            ]
        ]
    },
    {
        "id": "887f4b565053691c",
        "type": "file",
        "z": "6cda5a5f32196c63",
        "name": "Append CSV log",
        "filename": "/home/pff/greenhouse/logs/sensors.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ee12a869e25d83bb",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Split to chart points",
        "func": "var p = msg.payload || {};\nvar ts = p.ts || Date.now();\nvar out = [];\n\nfunction push(topic, val) {\n    if (typeof val === \"number\" && isFinite(val)) {\n        out.push({ topic: topic, payload: val, timestamp: ts });\n    }\n}\n\npush(\"Temp (avg)\", p.temp_f);\npush(\"Humidity (avg)\", p.rh_pct);\npush(\"Soil Moisture\", p.soil_avg_pct);\npush(\"Lighting\", p.lux);\npush(\"Fan %\", p.fan_pct);\n\nreturn [out];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 200,
        "wires": [
            [
                "4af3079dbb6762fa"
            ]
        ]
    },
    {
        "id": "fb8c481a34f0fd0e",
        "type": "mqtt out",
        "z": "6cda5a5f32196c63",
        "name": "MQTT Out (data)",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9a8b7c6d5e4f3002",
        "x": 1450,
        "y": 160,
        "wires": [],
        "info": "// p is your live sample object\r\nlet p = msg.payload;\r\n\r\n// choose your topic (keep what you already use)\r\nmsg.topic = \"greenhouse/data/latest\";\r\n\r\n// IMPORTANT: publish JSON string\r\nmsg.payload = JSON.stringify(p);\r\n\r\nreturn msg;\r\n"
    },
    {
        "id": "3999dea12c82b1a6",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format MQTT payload (live)",
        "func": "// Publish the live parsed sample to LAN via MQTT\nmsg.topic = \"greenhouse/data/live\";\n// msg.payload is already the parsed object from Parse sensor line\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "fb8c481a34f0fd0e"
            ]
        ]
    },
    {
        "id": "4b266addf47812be",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "db_function",
        "func": "let p = msg.payload || {};\n\nfunction sqlNum(v) {\n    return (v === undefined || v === null || v === \"\" || Number.isNaN(Number(v)))\n        ? \"NULL\"\n        : Number(v);\n}\n\nfunction sqlBool(v) {\n    if (v === true) return 1;\n    if (v === false) return 0;\n    return \"NULL\";\n}\n\nfunction sqlText(v) {\n    if (v === undefined || v === null || v === \"\") return \"NULL\";\n    return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nconst ts = Number.isFinite(Number(p.ts)) ? Number(p.ts) : Date.now();\n\nmsg.data = p;\n\nmsg.topic = `\nINSERT INTO greenhouse_samples (\n  ts, t1, t2, tavg, h1, h2, havg, soil, lux,\n  louvre_pct, louvre_state, fan_pct, lightOn,\n  fault_count, system_fault\n) VALUES (\n  ${sqlNum(ts)},\n  ${sqlNum(p.temp_f)},\n  ${sqlNum(p.temp_f)},\n  ${sqlNum(p.temp_f)},\n  ${sqlNum(p.rh_pct)},\n  ${sqlNum(p.rh_pct)},\n  ${sqlNum(p.rh_pct)},\n  ${sqlNum(p.soil_avg_pct)},\n  ${sqlNum(p.lux)},\n  ${sqlNum(p.louvre_pos_pct)},\n  ${sqlText(p.louvre_state)},\n  ${sqlNum(p.fan_pct)},\n  ${sqlBool(p.light_on)},\n  ${sqlNum(p.fault_count ?? ((p.fault ?? 0) !== 0 ? 1 : 0))},\n  ${sqlNum(p.system_fault ?? ((p.fault ?? 0) !== 0 ? 1 : 0))}\n);\n`;\n\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 240,
        "wires": [
            [
                "b91ca825f88143fb"
            ]
        ]
    },
    {
        "id": "b91ca825f88143fb",
        "type": "sqlite",
        "z": "6cda5a5f32196c63",
        "mydb": "38fa402bc4e15b76",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "greenhouse_db",
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "a00e9e4ee9f938a1",
                "10d54d59890a7417"
            ]
        ]
    },
    {
        "id": "a00e9e4ee9f938a1",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "10d54d59890a7417",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format MQTT payload",
        "func": "// Expect rows from SQLite\nif (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n    return null;\n}\n\n// Take the newest row\nconst row = msg.payload[0];\n\n// Set MQTT topic\nmsg.topic = \"greenhouse/data/latest\";\n\n// Publish JSON object\nmsg.payload = row;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "fb8c481a34f0fd0e"
            ]
        ]
    },
    {
        "id": "9c954700ec15527d",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 500,
        "wires": []
    },
    {
        "id": "76de5bf877b6191a",
        "type": "mqtt in",
        "z": "6cda5a5f32196c63",
        "name": "",
        "topic": "greenhouse/data/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9a8b7c6d5e4f3002",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "9c954700ec15527d",
                "dd71f97f1b1584dd"
            ]
        ]
    },
    {
        "id": "8ba39c5ed2842546",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "query db (every 60s)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "8def210fb4efeb3c"
            ]
        ]
    },
    {
        "id": "8def210fb4efeb3c",
        "type": "change",
        "z": "6cda5a5f32196c63",
        "name": "Build SELECT query (latest row)",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT ts, t1, t2, tavg, h1, h2, havg, soil, lux, louvre_pct, louvre_state, fan_pct, lightOn, fault_count, system_fault FROM greenhouse_samples ORDER BY ts DESC LIMIT 1;",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ ]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "b91ca825f88143fb"
            ]
        ]
    },
    {
        "id": "0d1202f9041fb697",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Temperature",
        "func": "msg.payload = Math.round(msg.payload.temp_f);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 460,
        "wires": [
            [
                "bb6a10ac977d0717"
            ]
        ]
    },
    {
        "id": "d4942742387dabb4",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Humidity",
        "func": "msg.payload = Math.round(msg.payload.rh_pct);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 500,
        "wires": [
            [
                "a6d64198e6eaae62"
            ]
        ]
    },
    {
        "id": "112b42a1704108f8",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Lux",
        "func": "msg.payload = Math.round(msg.payload.lux);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 540,
        "wires": [
            [
                "3a5ee99f6baf7088"
            ]
        ]
    },
    {
        "id": "c5aa37be95cbd5f2",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "soil",
        "func": "msg.payload = Math.round(msg.payload.soil_avg_pct);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 580,
        "wires": [
            [
                "66c91ea4b80fc08f"
            ]
        ]
    },
    {
        "id": "f2588d218f7169c5",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "louvre_pct",
        "func": "msg.payload = msg.payload.louvre_pos_pct;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 620,
        "wires": [
            [
                "66d981e6d96be52c"
            ]
        ]
    },
    {
        "id": "744e76bedde5edb1",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "louve_state",
        "func": "let s = msg.payload.louvre_state;\nlet pct = msg.payload.louvre_pos_pct;\n\nif (s === \"opening\") {\n    msg.payload = \"\ud83d\udfe2 Opening\";\n} else if (s === \"closing\") {\n    msg.payload = \"\ud83d\udfe0 Closing\";\n} else if (pct <= 5) {\n    msg.payload = \"\u26ab Closed\";\n} else if (pct >= 95) {\n    msg.payload = \"\ud83d\udfe2 Open\";\n} else {\n    msg.payload = \"\ud83d\udfe1 Stopped @ \" + Math.round(pct) + \"%\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 660,
        "wires": [
            [
                "072fb8dffe0e9dbc"
            ]
        ]
    },
    {
        "id": "911ba08b535d0c83",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Temperature",
        "group": "85dcddf4de18c2df",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "\u00b0F",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            },
            {
                "from": "33",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "55",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "86",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "96",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": 0,
        "max": "120",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1190,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "79974308ea82383b",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Humidity",
        "group": "85dcddf4de18c2df",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "90",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1180,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "05bba795903b4a55",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Lux",
        "group": "85dcddf4de18c2df",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Lighting",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "Lux",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4000",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "10000",
                "color": "#00c800",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1170,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b1163310511ba436",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Soil Moisture",
        "group": "85dcddf4de18c2df",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Soil Moisture",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "35",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "65",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1190,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "022edd664dc4b3d5",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Louvre Open %",
        "group": "85dcddf4de18c2df",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Louve Setting",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#969696",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1200,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6a9c73d878494885",
        "type": "ui-text",
        "z": "6cda5a5f32196c63",
        "group": "2a41f864d2129443",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Louvre State",
        "label": "Louvre State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1190,
        "y": 660,
        "wires": []
    },
    {
        "id": "4cb5f93570d7d0ca",
        "type": "ui-chart",
        "z": "6cda5a5f32196c63",
        "group": "db507c4f3e90976b",
        "name": "History",
        "label": "Last 12 Hours",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "12",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "smooth",
        "x": 1480,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4af3079dbb6762fa",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1250,
        "y": 200,
        "wires": [
            [
                "4cb5f93570d7d0ca"
            ]
        ]
    },
    {
        "id": "3a5ee99f6baf7088",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "05bba795903b4a55"
            ]
        ]
    },
    {
        "id": "bb6a10ac977d0717",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "911ba08b535d0c83"
            ]
        ]
    },
    {
        "id": "a6d64198e6eaae62",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "79974308ea82383b"
            ]
        ]
    },
    {
        "id": "66c91ea4b80fc08f",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 580,
        "wires": [
            [
                "b1163310511ba436"
            ]
        ]
    },
    {
        "id": "66d981e6d96be52c",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "022edd664dc4b3d5"
            ]
        ]
    },
    {
        "id": "072fb8dffe0e9dbc",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "6a9c73d878494885"
            ]
        ]
    },
    {
        "id": "36efe3892333e559",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "write csv header",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timestamp,ts_ms,mode,irrigation_mode,temp_f,rh_pct,tank_temp_f,lux,soil1_raw,soil1_pct,soil2_raw,soil2_pct,soil3_raw,soil3_pct,soil4_raw,soil4_pct,soil_avg_pct,batt_v,pv_v,pv_present,louvre_state,louvre_pos_pct,row1,row2,row3,row4,row1_en,row2_en,row3_en,row4_en,row1_ms,row2_ms,row3_ms,row4_ms,row1_start_pct,row2_start_pct,row3_start_pct,row4_start_pct,row1_stop_pct,row2_stop_pct,row3_stop_pct,row4_stop_pct,pump_on,heater_on,light_on,fan_pwm,fan_pct,rows_run_active,rows_run_auto,active_row,temp_open_f,temp_close_f,rh_open_pct,tank_heat_on_f,tank_heat_off_f,schedule_interval_ms,eco_mode,fault",
        "payloadType": "str",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "4abddf2657d029ce"
            ]
        ]
    },
    {
        "id": "4abddf2657d029ce",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "function 1",
        "func": "msg.payload = \"timestamp,ts_ms,mode,irrigation_mode,temp_f,rh_pct,tank_temp_f,lux,soil1_raw,soil1_pct,soil2_raw,soil2_pct,soil3_raw,soil3_pct,soil4_raw,soil4_pct,soil_avg_pct,batt_v,pv_v,pv_present,louvre_state,louvre_pos_pct,row1,row2,row3,row4,row1_en,row2_en,row3_en,row4_en,row1_ms,row2_ms,row3_ms,row4_ms,row1_start_pct,row2_start_pct,row3_start_pct,row4_start_pct,row1_stop_pct,row2_stop_pct,row3_stop_pct,row4_stop_pct,pump_on,heater_on,light_on,fan_pwm,fan_pct,rows_run_active,rows_run_auto,active_row,temp_open_f,temp_close_f,rh_open_pct,tank_heat_on_f,tank_heat_off_f,schedule_interval_ms,eco_mode,fault\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 80,
        "wires": [
            [
                "887f4b565053691c"
            ]
        ]
    },
    {
        "id": "fanpctfunc000001",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "fan_pct",
        "func": "msg.payload = Math.round(msg.payload.fan_pct);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 700,
        "wires": [
            [
                "fanpctdelay00001"
            ]
        ]
    },
    {
        "id": "fanpctdelay00001",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "fanpctgauge00001"
            ]
        ]
    },
    {
        "id": "fanpctgauge00001",
        "type": "ui-gauge",
        "z": "6cda5a5f32196c63",
        "name": "Fan Speed",
        "group": "85dcddf4de18c2df",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fan Speed",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#969696",
                "text": "",
                "textType": "label"
            },
            {
                "from": "25",
                "color": "#8ff0a4",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#33d17a",
                "text": "",
                "textType": "label"
            },
            {
                "from": "75",
                "color": "#00c800",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1190,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "57ce7260347bd8de",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "1e53d5d61ad2dcde",
        "type": "debug",
        "z": "6cda5a5f32196c63",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 400,
        "wires": []
    },
    {
        "id": "dd71f97f1b1584dd",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "GH_Data Function",
        "func": "let p = msg.payload;\nlet last = context.get(\"lastGood\") || null;\nlet lastGoodLux = context.get(\"lastGoodLux\");\n\nfunction isNum(v) {\n    return typeof v === \"number\" && isFinite(v);\n}\n\nfunction cloneObj(obj) {\n    return JSON.parse(JSON.stringify(obj));\n}\n\nfunction addFaultMeta(target, source) {\n    if (!target || typeof target !== \"object\") {\n        target = {};\n    }\n\n    const srcFault = source && typeof source === \"object\" ? source : {};\n    target.fault = srcFault.fault ?? target.fault ?? 0;\n    target.faults = srcFault.faults || target.faults || {};\n    target.fault_count = srcFault.fault_count ?? target.fault_count ?? ((target.fault || 0) !== 0 ? 1 : 0);\n    target.system_fault = srcFault.system_fault ?? target.system_fault ?? ((target.fault || 0) !== 0 ? 1 : 0);\n    target.missing_fields = srcFault.missing_fields || target.missing_fields || \"\";\n\n    return target;\n}\n\nif (typeof p !== \"object\" || p === null) {\n    if (last) {\n        msg.payload = addFaultMeta(cloneObj(last), p);\n        return msg;\n    }\n    return null;\n}\n\nlet required = [\n    \"temp_f\", \"rh_pct\", \"lux\",\n    \"soil1_pct\", \"soil2_pct\", \"soil3_pct\", \"soil4_pct\",\n    \"louvre_pos_pct\", \"fan_pct\"\n];\n\nfor (let i = 0; i < required.length; i++) {\n    let k = required[i];\n    if (!isNum(p[k])) {\n        if (last) {\n            msg.payload = addFaultMeta(cloneObj(last), p);\n            return msg;\n        }\n        return null;\n    }\n}\n\nif (typeof p.louvre_state !== \"string\") {\n    if (last) {\n        msg.payload = addFaultMeta(cloneObj(last), p);\n        return msg;\n    }\n    return null;\n}\n\nif (p.temp_f < -40 || p.temp_f > 150) {\n    if (last) {\n        msg.payload = addFaultMeta(cloneObj(last), p);\n        return msg;\n    }\n    return null;\n}\n\nif (p.rh_pct < 0 || p.rh_pct > 100) {\n    if (last) {\n        msg.payload = addFaultMeta(cloneObj(last), p);\n        return msg;\n    }\n    return null;\n}\n\n[\"soil1_pct\",\"soil2_pct\",\"soil3_pct\",\"soil4_pct\"].forEach(k => {\n    if (msg._invalidSoil) return;\n    if (p[k] < 0 || p[k] > 100) {\n        msg._invalidSoil = true;\n    }\n});\nif (msg._invalidSoil) {\n    delete msg._invalidSoil;\n    if (last) {\n        msg.payload = addFaultMeta(cloneObj(last), p);\n        return msg;\n    }\n    return null;\n}\n\nif (p.lux < 0 || p.lux > 150000) {\n    let out = last ? cloneObj(last) : cloneObj(p);\n    if (isNum(lastGoodLux)) {\n        out.lux = lastGoodLux;\n    }\n    msg.payload = addFaultMeta(out, p);\n    return msg;\n}\n\nif (p.louvre_pos_pct < 0 || p.louvre_pos_pct > 100) {\n    if (last) {\n        msg.payload = addFaultMeta(cloneObj(last), p);\n        return msg;\n    }\n    return null;\n}\n\nif (p.fan_pct < 0 || p.fan_pct > 100) {\n    if (last) {\n        msg.payload = addFaultMeta(cloneObj(last), p);\n        return msg;\n    }\n    return null;\n}\n\nif (last && isNum(last.lux)) {\n    if (p.lux === 0 && last.lux > 5) {\n        let out = cloneObj(last);\n        msg.payload = addFaultMeta(out, p);\n        return msg;\n    }\n}\n\ncontext.set(\"lastGood\", cloneObj(p));\n\nif (isNum(p.lux) && p.lux >= 0 && p.lux <= 150000) {\n    context.set(\"lastGoodLux\", p.lux);\n}\n\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 540,
        "wires": [
            [
                "0d1202f9041fb697",
                "d4942742387dabb4",
                "112b42a1704108f8",
                "c5aa37be95cbd5f2",
                "f2588d218f7169c5",
                "744e76bedde5edb1",
                "fanpctfunc000001",
                "610ae0cd1478dcb8"
            ]
        ]
    },
    {
        "id": "acb1ac1ac94383a3",
        "type": "ui-text",
        "z": "6cda5a5f32196c63",
        "group": "2a41f864d2129443",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Grow Lights",
        "label": "Grow Light Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1190,
        "y": 740,
        "wires": []
    },
    {
        "id": "610ae0cd1478dcb8",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Grow LIght Status",
        "func": "let on = msg.payload.light_on;\n\nif (on === true) {\n    msg.payload = \"\ud83d\udfe2 Grow Lights On\";\n} else {\n    msg.payload = \"\u26ab Grow Lights Off\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 740,
        "wires": [
            [
                "ef8c56ca1aaaa404"
            ]
        ]
    },
    {
        "id": "ef8c56ca1aaaa404",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "acb1ac1ac94383a3"
            ]
        ]
    },
    {
        "id": "455c2db561300a8c",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Fault Detection",
        "func": "let p = msg.payload || {};\n\nlet required = [\n    \"temp_f\", \"rh_pct\", \"lux\",\n    \"soil1_pct\", \"soil2_pct\", \"soil3_pct\", \"soil4_pct\",\n    \"louvre_pos_pct\", \"louvre_state\",\n    \"fan_pwm\", \"light_on\", \"pump_on\"\n];\n\nlet faults = {};\nlet missing = [];\n\nfunction isNum(v) {\n    return typeof v === \"number\" && isFinite(v);\n}\n\nrequired.forEach(name => {\n    if (!(name in p) || p[name] === null || p[name] === \"\") {\n        faults[name] = \"MISSING\";\n        missing.push(name);\n    }\n});\n\nif (\"lux\" in p && isNum(p.lux) && p.lux < 0) faults.lux = \"INVALID\";\n[\"soil1_pct\",\"soil2_pct\",\"soil3_pct\",\"soil4_pct\"].forEach(name => {\n    if (name in p && isNum(p[name]) && (p[name] < 0 || p[name] > 100)) {\n        faults[name] = \"INVALID\";\n    }\n});\nif (\"louvre_pos_pct\" in p && isNum(p.louvre_pos_pct) && (p.louvre_pos_pct < 0 || p.louvre_pos_pct > 100)) faults.louvre_pos_pct = \"INVALID\";\nif (\"fan_pwm\" in p && isNum(p.fan_pwm) && (p.fan_pwm < 0 || p.fan_pwm > 255)) faults.fan_pwm = \"INVALID\";\nif (\"rh_pct\" in p && isNum(p.rh_pct) && (p.rh_pct < 0 || p.rh_pct > 100)) faults.rh_pct = \"INVALID\";\nif (\"temp_f\" in p && isNum(p.temp_f) && (p.temp_f < -40 || p.temp_f > 150)) faults.temp_f = \"INVALID\";\n\nlet soilAvg = p.soil_avg_pct;\nlet lastSoil = context.get(\"lastSoil\");\nlet soilJumpThreshold = 40;\nif (isNum(soilAvg)) {\n    if (isNum(lastSoil) && Math.abs(soilAvg - lastSoil) > soilJumpThreshold) {\n        faults.soil_avg_pct = \"FLOATING\";\n    }\n    context.set(\"lastSoil\", soilAvg);\n}\n\nif (isNum(p.fault) && p.fault !== 0) {\n    faults.controller_fault = \"ARDUINO fault=\" + p.fault;\n}\n\np.faults = faults;\np.fault_count = Object.keys(faults).length;\np.system_fault = p.fault_count > 0 ? 1 : 0;\np.missing_fields = missing.join(\",\");\np.source = \"sensor\";\n\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "f98d2f1f0673b101",
                "3999dea12c82b1a6",
                "ee12a869e25d83bb",
                "4b266addf47812be",
                "4f8efa3c8f7d33a4",
                "57ce7260347bd8de"
            ]
        ]
    },
    {
        "id": "5af17cb50fcfd049",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Fault Status Text",
        "func": "let p = msg.payload || {};\nlet faults = p.faults || {};\nlet faultCount = Number(p.fault_count || 0);\nlet missingFields = (p.missing_fields || \"\").trim();\n\n// robust fault check\nlet hasFault =\n    p.system_fault == 1 ||\n    faultCount > 0 ||\n    Object.keys(faults).length > 0 ||\n    missingFields !== \"\";\n\n// read comm watchdog state\nlet commFault = flow.get(\"arduino_comm_fault\") || 0;\n\n// Build list of faults\nlet faultList = [];\n\n// Add sensor / payload faults\nlet keys = Object.keys(faults);\nif (keys.length) {\n    faultList = faultList.concat(\n        keys.map(k => k + \": \" + faults[k])\n    );\n} else if (missingFields !== \"\") {\n    faultList.push(\"Missing fields: \" + missingFields);\n} else if (hasFault && commFault !== 1) {\n    faultList.push(\"FAULT ACTIVE\");\n}\n\n// Add comm fault\nif (commFault == 1) {\n    faultList.unshift(\"NO COMMS TO ARDUINO\");\n}\n\n// Final output\nif (faultList.length > 0) {\n    msg.payload = \"\ud83d\udd34 FAULT \u2014 \" + faultList.join(\" | \");\n} else {\n    msg.payload = \"\ud83d\udfe2 All Systems Normal\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "68f3fed977ad9f73",
                "1e53d5d61ad2dcde"
            ]
        ]
    },
    {
        "id": "68f3fed977ad9f73",
        "type": "ui-text",
        "z": "6cda5a5f32196c63",
        "group": "2a41f864d2129443",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "System Fault",
        "label": "Fault",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "389f7f198ed6e0fa",
        "type": "ui-button-group",
        "z": "6cda5a5f32196c63",
        "name": "Louvre Button GP",
        "group": "1278781a5f417ce4",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "Louvre Control",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Open",
                "icon": "",
                "value": "OPEN",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Half",
                "icon": "",
                "value": "HALF",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Close",
                "icon": "",
                "value": "CLOSE",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Stop",
                "icon": "",
                "value": "STOP",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "Auto",
                "icon": "",
                "value": "AUTO",
                "valueType": "str",
                "color": "#cccc00"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 820,
        "wires": [
            [
                "82cb2ac5ce541d87"
            ]
        ]
    },
    {
        "id": "82cb2ac5ce541d87",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Louvre Command ",
        "func": "msg.payload = msg.payload + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 820,
        "wires": [
            [
                "12cca41621c67cb4"
            ]
        ]
    },
    {
        "id": "12cca41621c67cb4",
        "type": "serial out",
        "z": "6cda5a5f32196c63",
        "name": "",
        "serial": "f21e5fa854a87f38",
        "x": 1220,
        "y": 820,
        "wires": []
    },
    {
        "id": "3103229fe7ad40af",
        "type": "ui-button-group",
        "z": "6cda5a5f32196c63",
        "name": "Fan Control",
        "group": "1278781a5f417ce4",
        "order": 2,
        "width": 6,
        "height": "3",
        "label": "Fan Control",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "On (50%)",
                "icon": "",
                "value": "FAN_50",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "On (100%)",
                "icon": "",
                "value": "FAN_100",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Off",
                "icon": "",
                "value": "FAN_OFF",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Auto",
                "icon": "",
                "value": "FAN_AUTO",
                "valueType": "str",
                "color": "#009999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 880,
        "wires": [
            [
                "dc183ed1b109c77e"
            ]
        ]
    },
    {
        "id": "dc183ed1b109c77e",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Fan Command",
        "func": "msg.payload = msg.payload + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 880,
        "wires": [
            [
                "12cca41621c67cb4"
            ]
        ]
    },
    {
        "id": "2bc4071fb60e172f",
        "type": "ui-button-group",
        "z": "6cda5a5f32196c63",
        "name": "Light Control",
        "group": "1278781a5f417ce4",
        "order": 1,
        "width": 6,
        "height": "2",
        "label": "Light Control",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "On",
                "icon": "",
                "value": "LIGHT_ON",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Off",
                "icon": "",
                "value": "LIGHT_OFF",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Auto",
                "icon": "",
                "value": "LIGHT_AUTO",
                "valueType": "str",
                "color": "#ff6666"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 940,
        "wires": [
            [
                "3803f18308f137a5"
            ]
        ]
    },
    {
        "id": "3803f18308f137a5",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Light Command",
        "func": "msg.payload = msg.payload + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 940,
        "wires": [
            [
                "12cca41621c67cb4"
            ]
        ]
    },
    {
        "id": "56a18a3fe5e40a59",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "heartbeat",
        "func": "flow.set(\"arduino_last_rx\", Date.now());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "455c2db561300a8c"
            ]
        ]
    },
    {
        "id": "50160d76c0833a11",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "Comm Check",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 360,
        "wires": [
            [
                "36a8046ed184ac87"
            ]
        ]
    },
    {
        "id": "36a8046ed184ac87",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "comm watchdog",
        "func": "let now = Date.now();\nlet timeoutMs = 10000;\n\nlet lastRx = flow.get(\"arduino_last_rx\") || 0;\nlet commFault = (lastRx === 0 || (now - lastRx) > timeoutMs) ? 1 : 0;\n\nflow.set(\"arduino_comm_fault\", commFault);\n\nmsg.payload = {\n    source: \"comm_watchdog\",\n    arduino_last_rx: lastRx,\n    age_ms: lastRx ? (now - lastRx) : null,\n    arduino_comm_fault: commFault\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 360,
        "wires": [
            [
                "4f8efa3c8f7d33a4"
            ]
        ]
    },
    {
        "id": "4f8efa3c8f7d33a4",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Fault Aggregation",
        "func": "let p = msg.payload || {};\nlet commFault = flow.get(\"arduino_comm_fault\") || 0;\n\nfunction clone(obj) {\n    return JSON.parse(JSON.stringify(obj || {}));\n}\n\n// Only sensor messages are allowed to refresh cached sensor state\nif (p.source === \"sensor\") {\n    flow.set(\"last_sensor_fault_payload\", clone(p));\n}\n\nlet sensor = flow.get(\"last_sensor_fault_payload\") || {};\nlet out = clone(sensor);\n\n// If this incoming message is from the sensor path, use it directly\nif (p.source === \"sensor\") {\n    out = clone(p);\n}\n\n// If comms are down, override everything\nif (commFault === 1) {\n    out.faults = {\n        comms: \"NO COMMS TO ARDUINO\"\n    };\n    out.fault_count = 1;\n    out.system_fault = 1;\n    out.fault_source = \"comms\";\n    msg.payload = out;\n    return msg;\n}\n\n// If comms are healthy, show cached/latest sensor faults\nout.faults = (out.faults && typeof out.faults === \"object\") ? out.faults : {};\nout.fault_count = Number(out.fault_count || Object.keys(out.faults).length || 0);\nout.system_fault = out.fault_count > 0 ? 1 : 0;\nout.fault_source = \"sensor\";\n\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 360,
        "wires": [
            [
                "5af17cb50fcfd049"
            ]
        ]
    },
    {
        "id": "6b81021f817b48c5",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1230,
        "y": 120,
        "wires": [
            [
                "887f4b565053691c"
            ]
        ]
    },
    {
        "id": "3e36b48ccdcf3e10",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1",
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]