node-red/flows.json
[
    {
        "id": "6cda5a5f32196c63",
        "type": "tab",
        "label": "Greenhouse Starter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a8b7c6d5e4f3002",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "38fa402bc4e15b76",
        "type": "sqlitedb",
        "db": "/home/pff/greenhouse/db/greenhouse_db_v3.db",
        "mode": "RWC"
    },
    {
        "id": "f21e5fa854a87f38",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "67be606e10e97380",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Greenhouse Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 12,
                "sy": 24,
                "gx": 6,
                "gy": 6,
                "cx": 12,
                "cy": 6,
                "px": 10,
                "py": 0
            }
        }
    },
    {
        "id": "062287387a26aec8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ad1666f09e21ea6d",
        "type": "ui-theme",
        "name": "Slate Pro",
        "colors": {
            "surface": "#16162a",
            "primary": "#7c3aed",
            "bgPage": "#0f0f1a",
            "groupBg": "#16162a",
            "groupOutline": "#252548"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "16px",
            "groupGap": "14px",
            "groupBorderRadius": "14px",
            "widgetGap": "14px"
        }
    },
    {
        "id": "pg_dashboard_01",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "062287387a26aec8",
        "path": "/dashboard",
        "icon": "leaf",
        "layout": "notebook",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "pg_control_01",
        "type": "ui-page",
        "name": "Control",
        "ui": "062287387a26aec8",
        "path": "/control",
        "icon": "tune",
        "layout": "notebook",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "pg_alerts_01",
        "type": "ui-page",
        "name": "Alerts",
        "ui": "062287387a26aec8",
        "path": "/alerts",
        "icon": "alert-circle",
        "layout": "notebook",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "pg_history_01",
        "type": "ui-page",
        "name": "History",
        "ui": "062287387a26aec8",
        "path": "/history",
        "icon": "chart-line",
        "layout": "notebook",
        "theme": "ad1666f09e21ea6d",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "gr_conn_status",
        "type": "ui-group",
        "name": "Connection",
        "page": "pg_dashboard_01",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "gr_louvre_ctrl",
        "type": "ui-group",
        "name": "Louvre / Vents",
        "page": "pg_control_01",
        "width": "12",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "gr_fan_ctrl",
        "type": "ui-group",
        "name": "Fan",
        "page": "pg_control_01",
        "width": "12",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "gr_light_ctrl",
        "type": "ui-group",
        "name": "Grow Light",
        "page": "pg_control_01",
        "width": "12",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "gr_mode_ctrl",
        "type": "ui-group",
        "name": "System Mode",
        "page": "pg_control_01",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "gr_alert_history",
        "type": "ui-group",
        "name": "Alert History",
        "page": "pg_alerts_01",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "gr_thresholds",
        "type": "ui-group",
        "name": "Thresholds",
        "page": "pg_alerts_01",
        "width": "12",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "gr_history_chart",
        "type": "ui-group",
        "name": "History",
        "page": "pg_history_01",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3e36b48ccdcf3e10",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1",
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "ws_in_node_001",
        "type": "websocket-listener",
        "path": "/ws/greenhouse",
        "wholemsg": "false"
    },
    {
        "id": "239514801c1bffa2",
        "type": "serial in",
        "z": "6cda5a5f32196c63",
        "name": "Controller",
        "serial": "f21e5fa854a87f38",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "0331b7e8018058e8"
            ]
        ]
    },
    {
        "id": "0331b7e8018058e8",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Parse sensor",
        "func": "let line = msg.payload;\n\nif (Buffer.isBuffer(line)) {\n    line = line.toString();\n}\n\nline = String(line).trim();\nif (!line) return null;\n\n// Ignore header row\nif (line.startsWith(\"ts_ms,\")) {\n    return null;\n}\n\nlet fields = line.split(\",\");\n\nif (fields.length !== 55) {\n    node.warn(\"CSV field count mismatch: got \" + fields.length + \", expected 55 :: \" + line);\n    return null;\n}\n\nfunction toNum(v) {\n    let n = Number(v);\n    return Number.isNaN(n) ? null : n;\n}\n\nfunction toBool(v) {\n    return String(v) === \"1\";\n}\n\nlet p = {\n    ts_ms: toNum(fields[0]),\n    mode: fields[1],\n    irrigation_mode: fields[2],\n    temp_f: toNum(fields[3]),\n    rh_pct: toNum(fields[4]),\n    tank_temp_f: toNum(fields[5]),\n    lux: toNum(fields[6]),\n    soil1_raw: toNum(fields[7]),\n    soil1_pct: toNum(fields[8]),\n    soil2_raw: toNum(fields[9]),\n    soil2_pct: toNum(fields[10]),\n    soil3_raw: toNum(fields[11]),\n    soil3_pct: toNum(fields[12]),\n    soil4_raw: toNum(fields[13]),\n    soil4_pct: toNum(fields[14]),\n    batt_v: toNum(fields[15]),\n    pv_v: toNum(fields[16]),\n    pv_present: toBool(fields[17]),\n    louvre_state_raw: fields[18],\n    louvre_pos_pct: toNum(fields[19]),\n    row1: toBool(fields[20]),\n    row2: toBool(fields[21]),\n    row3: toBool(fields[22]),\n    row4: toBool(fields[23]),\n    row1_en: toBool(fields[24]),\n    row2_en: toBool(fields[25]),\n    row3_en: toBool(fields[26]),\n    row4_en: toBool(fields[27]),\n    row1_ms: toNum(fields[28]),\n    row2_ms: toNum(fields[29]),\n    row3_ms: toNum(fields[30]),\n    row4_ms: toNum(fields[31]),\n    row1_start_pct: toNum(fields[32]),\n    row2_start_pct: toNum(fields[33]),\n    row3_start_pct: toNum(fields[34]),\n    row4_start_pct: toNum(fields[35]),\n    row1_stop_pct: toNum(fields[36]),\n    row2_stop_pct: toNum(fields[37]),\n    row3_stop_pct: toNum(fields[38]),\n    row4_stop_pct: toNum(fields[39]),\n    pump_on: toBool(fields[40]),\n    heater_on: toBool(fields[41]),\n    light_on: toBool(fields[42]),\n    fan_pwm: toNum(fields[43]),\n    rows_run_active: toBool(fields[44]),\n    rows_run_auto: toBool(fields[45]),\n    active_row: toNum(fields[46]),\n    temp_open_f: toNum(fields[47]),\n    temp_close_f: toNum(fields[48]),\n    rh_open_pct: toNum(fields[49]),\n    tank_heat_on_f: toNum(fields[50]),\n    tank_heat_off_f: toNum(fields[51]),\n    schedule_interval_ms: toNum(fields[52]),\n    eco_mode: toBool(fields[53]),\n    fault: toNum(fields[54])\n};\n\np.ts = Date.now();\np.controller_uptime_ms = p.ts_ms;\n\n// Louvre state text from raw numeric\nif (String(p.louvre_state_raw) === \"0\") p.louvre_state = \"opening\";\nelse if (String(p.louvre_state_raw) === \"1\") p.louvre_state = \"closing\";\nelse if (String(p.louvre_state_raw) === \"2\") p.louvre_state = \"closed\";\nelse if (String(p.louvre_state_raw) === \"3\") p.louvre_state = \"open\";\nelse p.louvre_state = \"stopped\";\n\np.fan_pct = (typeof p.fan_pwm === \"number\") ? Math.round((p.fan_pwm / 255) * 100) : null;\n\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "56a18a3fe5e40a59"
            ]
        ]
    },
    {
        "id": "887f4b565053691c",
        "type": "file",
        "z": "6cda5a5f32196c63",
        "name": "Append CSV log",
        "filename": "/home/pff/greenhouse/logs/gh_data.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1630,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ee12a869e25d83bb",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Split to chart points",
        "func": "var p = msg.payload || {};\nvar ts = p.ts || Date.now();\nvar out = [];\n\nfunction push(topic, val) {\n    if (typeof val === \"number\" && isFinite(val)) {\n        out.push({ topic: topic, payload: val, timestamp: ts });\n    }\n}\n\npush(\"Temp (avg)\", p.temp_f);\npush(\"Humidity (avg)\", p.rh_pct);\npush(\"Soil Moisture\", p.soil_avg_pct);\npush(\"Lighting\", p.lux);\npush(\"Fan %\", p.fan_pct);\n\nreturn [out];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "4af3079dbb6762fa"
            ]
        ]
    },
    {
        "id": "fb8c481a34f0fd0e",
        "type": "mqtt out",
        "z": "6cda5a5f32196c63",
        "name": "MQTT Out (data)",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9a8b7c6d5e4f3002",
        "x": 1630,
        "y": 260,
        "wires": [],
        "info": "// p is your live sample object\r\nlet p = msg.payload;\r\n\r\n// choose your topic (keep what you already use)\r\nmsg.topic = \"greenhouse/data/latest\";\r\n\r\n// IMPORTANT: publish JSON string\r\nmsg.payload = JSON.stringify(p);\r\n\r\nreturn msg;\r\n"
    },
    {
        "id": "3999dea12c82b1a6",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Publish Canonical MQTT Live",
        "func": "let p = msg.payload;\nif (!p || typeof p !== \"object\") return null;\n\nlet out = JSON.parse(JSON.stringify(p));\nif (typeof out.ts !== \"number\") out.ts = Date.now();\nout.schema = \"greenhouse.live.v1\";\nout.stream = \"live\";\n\nmsg.topic = \"greenhouse/data/live\";\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 260,
        "wires": [
            [
                "fb8c481a34f0fd0e"
            ]
        ]
    },
    {
        "id": "b91ca825f88143fb",
        "type": "sqlite",
        "z": "6cda5a5f32196c63",
        "mydb": "38fa402bc4e15b76",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "greenhouse_db",
        "x": 1620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4cb5f93570d7d0ca",
        "type": "ui-chart",
        "z": "6cda5a5f32196c63",
        "group": "gr_history_chart",
        "name": "History",
        "label": "Last 12 Hours",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "12",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#94a3b8"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#1e293b"
        ],
        "gridColorDefault": false,
        "width": "12",
        "height": "6",
        "className": "",
        "interpolation": "smooth",
        "x": 1600,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4af3079dbb6762fa",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1410,
        "y": 400,
        "wires": [
            [
                "4cb5f93570d7d0ca"
            ]
        ]
    },
    {
        "id": "36efe3892333e559",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "ensure csv header (on deploy)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "a1b2c3d4e5f60009"
            ]
        ]
    },
    {
        "id": "dd71f97f1b1584dd",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Final Live Payload",
        "func": "let p = msg.payload || {};\nlet isCommMsg = (p && typeof p === \"object\" && p.source === \"comm_watchdog\");\nlet commFault = flow.get(\"arduino_comm_fault\") || 0;\n\nfunction isNum(v) {\n    return typeof v === \"number\" && isFinite(v);\n}\n\nfunction clone(obj) {\n    return JSON.parse(JSON.stringify(obj || {}));\n}\n\nfunction installed(hw, name) {\n    return hw && hw[name] === true;\n}\n\nfunction addFault(faults, name, msgText) {\n    faults[name] = msgText;\n}\n\nfunction finalizeFaults(obj) {\n    let out = clone(obj);\n    let faults = {};\n    let missing = [];\n    let hw = out.hw || {};\n\n    function requireNumber(field, opts) {\n        opts = opts || {};\n        let installKey = opts.installKey || null;\n        if (installKey && !installed(hw, installKey)) {\n            addFault(faults, field, \"NOT INSTALLED\");\n            out[field] = null;\n            return;\n        }\n        if (!(field in out) || out[field] === null || out[field] === \"\") {\n            addFault(faults, field, \"MISSING\");\n            missing.push(field);\n            return;\n        }\n        if (!isNum(out[field])) {\n            addFault(faults, field, \"INVALID\");\n            return;\n        }\n        if (isNum(opts.min) && out[field] < opts.min) addFault(faults, field, \"INVALID\");\n        if (isNum(opts.max) && out[field] > opts.max) addFault(faults, field, \"INVALID\");\n    }\n\n    function requireBool(field, opts) {\n        opts = opts || {};\n        let installKey = opts.installKey || null;\n        if (installKey && !installed(hw, installKey)) {\n            addFault(faults, field, \"NOT INSTALLED\");\n            out[field] = null;\n            return;\n        }\n        if (!(field in out) || out[field] === null || out[field] === \"\") {\n            addFault(faults, field, \"MISSING\");\n            missing.push(field);\n            return;\n        }\n        if (!(out[field] === true || out[field] === false)) {\n            addFault(faults, field, \"INVALID\");\n        }\n    }\n\n    requireNumber(\"temp_f\", {min: -40, max: 150});\n    requireNumber(\"rh_pct\", {min: 0, max: 100});\n    requireNumber(\"lux\", {min: 0, max: 150000});\n    requireNumber(\"louvre_pos_pct\", {min: 0, max: 100});\n    requireNumber(\"fan_pwm\", {min: 0, max: 255});\n\n    if (!(\"louvre_state\" in out) || out.louvre_state === null || out.louvre_state === \"\") {\n        addFault(faults, \"louvre_state\", \"MISSING\");\n        missing.push(\"louvre_state\");\n    }\n\n    requireNumber(\"soil1_pct\", {installKey: \"soil1\", min: 0, max: 100});\n    requireNumber(\"soil2_pct\", {installKey: \"soil2\", min: 0, max: 100});\n    requireNumber(\"soil3_pct\", {installKey: \"soil3\", min: 0, max: 100});\n    requireNumber(\"soil4_pct\", {installKey: \"soil4\", min: 0, max: 100});\n\n    requireNumber(\"tank_temp_f\", {installKey: \"tank_temp\", min: -40, max: 180});\n    requireBool(\"pump_on\", {installKey: \"pump\"});\n    requireBool(\"heater_on\", {installKey: \"heater\"});\n    requireBool(\"pv_present\", {installKey: \"pv\"});\n\n    if (isNum(out.fault) && out.fault !== 0) {\n        addFault(faults, \"controller_fault\", \"ARDUINO fault=\" + out.fault);\n    }\n\n    if (out.fallback_used === true) {\n        addFault(faults, \"data_quality\", \"LAST GOOD SAMPLE\");\n    }\n\n    if (commFault === 1) {\n        addFault(faults, \"comms\", \"NO COMMS TO ARDUINO\");\n    }\n\n    out.faults = faults;\n    out.fault_count = Object.keys(faults).length;\n    out.system_fault = out.fault_count > 0 ? 1 : 0;\n    out.missing_fields = missing.join(\",\");\n    out.source = \"sensor\";\n\n    // Compute canonical soil_avg_pct (hw-aware, fault-aware, single source of truth)\n    let soilVals = [];\n    [\"soil1\",\"soil2\",\"soil3\",\"soil4\"].forEach(function(name) {\n        let field = name + \"_pct\";\n        if (!installed(hw, name)) return;\n        if (faults[field]) return;\n        if (!(field in out) || out[field] === null || out[field] === \"\") return;\n        if (!isNum(out[field])) return;\n        if (out[field] < 0 || out[field] > 100) return;\n        soilVals.push(out[field]);\n    });\n    out.soil_avg_pct = soilVals.length > 0\n        ? soilVals.reduce(function(a,b){return a+b;},0) / soilVals.length\n        : null;\n\n    return out;\n}\n\nfunction buildCommsPayload() {\n    let sensor = flow.get(\"last_sensor_final_payload\") || {};\n    let out = clone(sensor);\n    out.hw = out.hw || {};\n    out.faults = out.faults || {};\n    if (commFault === 1) {\n        out.faults.comms = \"NO COMMS TO ARDUINO\";\n    } else {\n        delete out.faults.comms;\n    }\n    out.fault_count = Object.keys(out.faults).length;\n    out.system_fault = out.fault_count > 0 ? 1 : 0;\n    out.fault_source = commFault === 1 ? \"comms\" : \"sensor\";\n    return out;\n}\n\nif (isCommMsg) {\n    msg.payload = buildCommsPayload();\n    return [null, msg];\n}\n\nif (typeof p !== \"object\" || p === null) {\n    return null;\n}\n\nlet lastGoodClean = context.get(\"lastGoodClean\") || null;\nlet clean = clone(p);\nlet hw = clean.hw || {};\nlet fallbackUsed = false;\n\nfunction maybeFallbackNumeric(field, min, max) {\n    if (!(field in clean) || clean[field] === null || clean[field] === \"\") {\n        return;\n    }\n    if (!isNum(clean[field]) || (isNum(min) && clean[field] < min) || (isNum(max) && clean[field] > max)) {\n        if (lastGoodClean && isNum(lastGoodClean[field])) {\n            clean[field] = lastGoodClean[field];\n            fallbackUsed = true;\n        }\n    }\n}\n\nmaybeFallbackNumeric(\"temp_f\", -40, 150);\nmaybeFallbackNumeric(\"rh_pct\", 0, 100);\nmaybeFallbackNumeric(\"lux\", 0, 150000);\nmaybeFallbackNumeric(\"louvre_pos_pct\", 0, 100);\nmaybeFallbackNumeric(\"fan_pct\", 0, 100);\nmaybeFallbackNumeric(\"fan_pwm\", 0, 255);\n\n[\"soil1\",\"soil2\",\"soil3\",\"soil4\"].forEach(function(name) {\n    let field = name + \"_pct\";\n    if (installed(hw, name)) {\n        maybeFallbackNumeric(field, 0, 100);\n    }\n});\n\nif (installed(hw, \"tank_temp\")) {\n    maybeFallbackNumeric(\"tank_temp_f\", -40, 180);\n}\n\nif (!fallbackUsed && isNum(clean.lux) && clean.lux === 0 && lastGoodClean && isNum(lastGoodClean.lux) && lastGoodClean.lux > 5) {\n    clean.lux = lastGoodClean.lux;\n    fallbackUsed = true;\n}\n\nclean.fallback_used = fallbackUsed;\n\ncontext.set(\"lastGoodClean\", clone(clean));\n\nlet out = finalizeFaults(clean);\nflow.set(\"last_sensor_final_payload\", clone(out));\n\nmsg.payload = out;\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 360,
        "wires": [
            [
                "ws_format_func_001",
                "a1b2c3d4e5f60010",
                "3999dea12c82b1a6",
                "mqttedgeexport001",
                "5af17cb50fcfd049",
                "2ce9937eb48a8c8b",
                "ee12a869e25d83bb"
            ],
            [
                "ws_format_func_001",
                "5af17cb50fcfd049",
                "2ce9937eb48a8c8b",
                "ee12a869e25d83bb"
            ]
        ]
    },
    {
        "id": "5af17cb50fcfd049",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Fault Status Text",
        "func": "let p = msg.payload || {};\nlet faults = p.faults || {};\nlet faultCount = Number(p.fault_count || 0);\nlet missingFields = (p.missing_fields || \"\").trim();\nlet commFault = flow.get(\"arduino_comm_fault\") || 0;\n\nlet hasFault =\n    p.system_fault == 1 ||\n    faultCount > 0 ||\n    Object.keys(faults).length > 0 ||\n    missingFields !== \"\" ||\n    commFault == 1;\n\nif (hasFault) {\n    msg.payload = \"⚠ Fault Detected\";\n} else {\n    msg.payload = \"🟢 All Systems Normal\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 360,
        "wires": [
            [
                "68f3fed977ad9f73"
            ]
        ]
    },
    {
        "id": "68f3fed977ad9f73",
        "type": "ui-text",
        "z": "6cda5a5f32196c63",
        "group": "gr_conn_status",
        "order": 1,
        "width": 6,
        "height": 0,
        "name": "System Fault",
        "label": "Fault",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1410,
        "y": 360,
        "wires": []
    },
    {
        "id": "389f7f198ed6e0fa",
        "type": "ui-button-group",
        "z": "6cda5a5f32196c63",
        "name": "Louvre Button GP",
        "group": "gr_louvre_ctrl",
        "order": 1,
        "width": "12",
        "height": "2",
        "label": "Louvre Control",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "Open",
                "icon": "",
                "value": "OPEN",
                "valueType": "str",
                "color": "#22c55e"
            },
            {
                "label": "Close",
                "icon": "",
                "value": "CLOSE",
                "valueType": "str",
                "color": "#ef4444"
            },
            {
                "label": "Stop",
                "icon": "",
                "value": "STOP",
                "valueType": "str",
                "color": "#eab308"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "82cb2ac5ce541d87"
            ]
        ]
    },
    {
        "id": "82cb2ac5ce541d87",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Louvre Command ",
        "func": "let cmd = String(msg.payload || \"\").toUpperCase();\nif (cmd === \"OPEN\") { msg.payload = \"MODE MANUAL\\nLOUVRE OPEN\\n\"; }\nelse if (cmd === \"CLOSE\") { msg.payload = \"MODE MANUAL\\nLOUVRE CLOSE\\n\"; }\nelse if (cmd === \"STOP\") { msg.payload = \"MODE MANUAL\\nLOUVRE STOP\\n\"; }\nelse { return null; }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 700,
        "wires": [
            [
                "a2a532efe1bbf72b"
            ]
        ]
    },
    {
        "id": "12cca41621c67cb4",
        "type": "serial out",
        "z": "6cda5a5f32196c63",
        "name": "",
        "serial": "f21e5fa854a87f38",
        "x": 1120,
        "y": 640,
        "wires": []
    },
    {
        "id": "3103229fe7ad40af",
        "type": "ui-button-group",
        "z": "6cda5a5f32196c63",
        "name": "Fan Control",
        "group": "gr_fan_ctrl",
        "order": 1,
        "width": "12",
        "height": "2",
        "label": "Fan Control",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "On 50%",
                "icon": "",
                "value": "FAN_50",
                "valueType": "str",
                "color": "#22c55e"
            },
            {
                "label": "On 100%",
                "icon": "",
                "value": "FAN_100",
                "valueType": "str",
                "color": "#22c55e"
            },
            {
                "label": "Off",
                "icon": "",
                "value": "FAN_OFF",
                "valueType": "str",
                "color": "#ef4444"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "dc183ed1b109c77e"
            ]
        ]
    },
    {
        "id": "dc183ed1b109c77e",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Fan Command",
        "func": "let cmd = String(msg.payload || \"\").toUpperCase();\nif (cmd === \"FAN_50\") { msg.payload = \"MODE MANUAL\\nFAN 128\\n\"; }\nelse if (cmd === \"FAN_100\") { msg.payload = \"MODE MANUAL\\nFAN 255\\n\"; }\nelse if (cmd === \"FAN_OFF\") { msg.payload = \"MODE MANUAL\\nFAN 0\\n\"; }\nelse { return null; }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 760,
        "wires": [
            [
                "a2a532efe1bbf72b"
            ]
        ]
    },
    {
        "id": "2bc4071fb60e172f",
        "type": "ui-button-group",
        "z": "6cda5a5f32196c63",
        "name": "Light Control",
        "group": "gr_light_ctrl",
        "order": 1,
        "width": "12",
        "height": "2",
        "label": "Light Control",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "icon": "",
                "value": "LIGHT_ON",
                "valueType": "str",
                "color": "#eab308"
            },
            {
                "label": "Off",
                "icon": "",
                "value": "LIGHT_OFF",
                "valueType": "str",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "3803f18308f137a5"
            ]
        ]
    },
    {
        "id": "3803f18308f137a5",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Light Command",
        "func": "let cmd = String(msg.payload || \"\").toUpperCase();\nif (cmd === \"LIGHT_ON\") { msg.payload = \"MODE MANUAL\\nLIGHT ON\\n\"; }\nelse if (cmd === \"LIGHT_OFF\") { msg.payload = \"MODE MANUAL\\nLIGHT OFF\\n\"; }\nelse { return null; }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 820,
        "wires": [
            [
                "a2a532efe1bbf72b"
            ]
        ]
    },
    {
        "id": "56a18a3fe5e40a59",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "heartbeat",
        "func": "flow.set(\"arduino_last_rx\", Date.now());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "hwconfig0000001"
            ]
        ]
    },
    {
        "id": "50160d76c0833a11",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "Comm Check",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "36a8046ed184ac87"
            ]
        ]
    },
    {
        "id": "36a8046ed184ac87",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "comm watchdog",
        "func": "let now = Date.now();\nlet timeoutMs = 10000;\n\nlet lastRx = flow.get(\"arduino_last_rx\") || 0;\nlet commFault = (lastRx === 0 || (now - lastRx) > timeoutMs) ? 1 : 0;\n\nflow.set(\"arduino_comm_fault\", commFault);\n\nmsg.payload = {\n    source: \"comm_watchdog\",\n    arduino_last_rx: lastRx,\n    age_ms: lastRx ? (now - lastRx) : null,\n    arduino_comm_fault: commFault\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "dd71f97f1b1584dd"
            ]
        ]
    },
    {
        "id": "6b81021f817b48c5",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1420,
        "y": 220,
        "wires": [
            [
                "887f4b565053691c"
            ]
        ]
    },
    {
        "id": "27ada962f00d807c",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "ebadb11eb93cb9ce"
            ]
        ]
    },
    {
        "id": "ebadb11eb93cb9ce",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "TX Heartbeat",
        "func": "msg.payload = \"HEARTBEAT\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 640,
        "wires": [
            [
                "12cca41621c67cb4"
            ]
        ]
    },
    {
        "id": "2ce9937eb48a8c8b",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Fault Log",
        "func": "let p = msg.payload || {};\n\n// manual clear from button\nif (p.reset_fault_log === true || msg.reset_fault_log === true) {\n    flow.set(\"fault_log\", []);\n    flow.set(\"fault_log_last_sig\", \"\");\n    flow.set(\"fault_log_last_state\", \"normal\");\n\n    msg.payload = {\n        entries: []\n    };\n    return msg;\n}\n\nlet faults = p.faults || {};\nlet faultCount = Number(p.fault_count || 0);\nlet missingFields = (p.missing_fields || \"\").trim();\n\n// robust fault check\nlet hasFault =\n    p.system_fault == 1 ||\n    faultCount > 0 ||\n    Object.keys(faults).length > 0 ||\n    missingFields !== \"\";\n\n// read comm watchdog state\nlet commFault = flow.get(\"arduino_comm_fault\") || 0;\n\nlet log = flow.get(\"fault_log\") || [];\nlet lastSig = flow.get(\"fault_log_last_sig\") || \"\";\nlet lastState = flow.get(\"fault_log_last_state\") || \"normal\";\n\n// timestamp\nlet ts = p.ts || p.ts_ms || Date.now();\nlet d = new Date(ts);\n\nfunction pad(n) {\n    return String(n).padStart(2, \"0\");\n}\n\nlet stamp =\n    (d.getMonth() + 1) + \"/\" +\n    d.getDate() + \"/\" +\n    d.getFullYear() + \" \" +\n    pad(d.getHours()) + \":\" +\n    pad(d.getMinutes()) + \":\" +\n    pad(d.getSeconds());\n\n// Build list of faults exactly like fault text logic\nlet faultList = [];\n\nlet keys = Object.keys(faults).sort();\nif (keys.length) {\n    faultList = faultList.concat(\n        keys.map(function (k) {\n            return k + \": \" + faults[k];\n        })\n    );\n} else if (missingFields !== \"\") {\n    faultList.push(\"Missing fields: \" + missingFields);\n} else if (hasFault && commFault !== 1) {\n    faultList.push(\"FAULT ACTIVE\");\n}\n\n// Add comm fault\nif (commFault == 1) {\n    faultList.unshift(\"NO COMMS TO ARDUINO\");\n}\n\nlet faultText = faultList.join(\" | \");\nlet sig = faultList.length > 0 ? faultText : \"NORMAL\";\n\n// Only log when state/content changes\nif (sig !== lastSig) {\n    if (faultList.length > 0) {\n        log.unshift(\"🔴 [\" + stamp + \"] \" + faultText);\n        lastState = \"fault\";\n    } else {\n        if (lastState === \"fault\") {\n            log.unshift(\"🟢 [\" + stamp + \"] All Systems Normal\");\n        }\n        lastState = \"normal\";\n    }\n\n    // Keep newest 100 entries\n    if (log.length > 100) {\n        log = log.slice(0, 100);\n    }\n\n    flow.set(\"fault_log\", log);\n    flow.set(\"fault_log_last_sig\", sig);\n    flow.set(\"fault_log_last_state\", lastState);\n}\n\nmsg.payload = {\n    entries: log\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "fb25e247ea692f58"
            ]
        ]
    },
    {
        "id": "fb25e247ea692f58",
        "type": "ui-template",
        "z": "6cda5a5f32196c63",
        "group": "gr_alert_history",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"white-space: pre-line; font-family: Arial, sans-serif;\">\n    {{ displayText }}\n  </div>\n</template>\n\n<script>\n  export default {\n  computed: {\n    displayText() {\n      if (\n        this.msg &&\n        this.msg.payload &&\n        Array.isArray(this.msg.payload.entries) &&\n        this.msg.payload.entries.length\n      ) {\n        return this.msg.payload.entries.join('\\n\\n');\n      }\n      return 'No faults logged yet.';\n    }\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1400,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "52f07cd6dbb9d3a3",
        "type": "ui-button",
        "z": "6cda5a5f32196c63",
        "group": "gr_alert_history",
        "name": "Clear Fault Log",
        "label": "Clear Fault Log",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"reset_fault_log\":true}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "2ce9937eb48a8c8b"
            ]
        ]
    },
    {
        "id": "50612a9ae22190d5",
        "type": "ui-button-group",
        "z": "6cda5a5f32196c63",
        "name": "System Mode",
        "group": "gr_mode_ctrl",
        "order": 1,
        "width": "12",
        "height": "2",
        "label": "System Mode",
        "className": "",
        "rounded": true,
        "useThemeColors": false,
        "passthru": true,
        "options": [
            {
                "label": "Auto",
                "icon": "",
                "value": "AUTO",
                "valueType": "str",
                "color": "#14b8a6"
            },
            {
                "label": "Manual",
                "icon": "",
                "value": "MANUAL",
                "valueType": "str",
                "color": "#eab308"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 880,
        "wires": [
            [
                "a997ea0e7028d94d"
            ]
        ]
    },
    {
        "id": "a997ea0e7028d94d",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Set Mode Auto",
        "func": "let cmd = String(msg.payload || \"\").toUpperCase();\nif (cmd === \"AUTO\") { msg.payload = \"MODE AUTO\\n\"; }\nelse if (cmd === \"MANUAL\") { msg.payload = \"MODE MANUAL\\n\"; }\nelse { return null; }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 880,
        "wires": [
            [
                "a2a532efe1bbf72b"
            ]
        ]
    },
    {
        "id": "thresholds_tpl_01",
        "type": "ui-template",
        "z": "6cda5a5f32196c63",
        "group": "gr_thresholds",
        "page": "",
        "ui": "",
        "name": "Thresholds Display",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"padding: 4px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;\">\n    <p style=\"color: #888; font-size: 13px; margin: 0 0 16px 0;\">Notifications fire when a sensor goes outside these ranges. A 5-minute cooldown prevents repeated alerts.</p>\n\n    <div v-for=\"item in thresholds\" :key=\"item.label\" style=\"background: #1e1e36; border: 1px solid #2a2a48; border-radius: 12px; padding: 14px 16px; margin-bottom: 10px;\">\n      <div style=\"color: #e2e8f0; font-weight: 600; font-size: 14px; margin-bottom: 10px;\">{{ item.label }}</div>\n      <div style=\"display: flex; align-items: center; gap: 10px;\">\n        <span style=\"color: #888; font-size: 12px; min-width: 28px;\">Min</span>\n        <span style=\"background: #121220; border: 1px solid #333; border-radius: 8px; padding: 8px 14px; color: #fff; font-size: 16px; min-width: 60px; text-align: center;\">{{ item.min }}</span>\n        <span style=\"color: #666; font-size: 12px;\">{{ item.unit }}</span>\n        <span style=\"color: #888; font-size: 12px; min-width: 28px; margin-left: auto;\">Max</span>\n        <span style=\"background: #121220; border: 1px solid #333; border-radius: 8px; padding: 8px 14px; color: #fff; font-size: 16px; min-width: 60px; text-align: center;\">{{ item.max }}</span>\n        <span style=\"color: #666; font-size: 12px;\">{{ item.unit }}</span>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      thresholds: [\n        { label: 'Temperature', min: 50, max: 95, unit: '°F' },\n        { label: 'Humidity', min: 20, max: 90, unit: '%' },\n        { label: 'Soil Moisture', min: 15, max: 100, unit: '%' },\n        { label: 'Light', min: 0, max: 80000, unit: 'lux' },\n        { label: 'Fan Speed', min: 0, max: 100, unit: '%' }\n      ]\n    };\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ws_format_func_001",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format for WS Dashboard",
        "func": "let p = msg.payload;\nif (!p || typeof p !== 'object') return null;\n\nlet out = {\n    temp:          p.temp_f,\n    rh:            p.rh_pct,\n    tempExhaust:   p.temp_f,\n    tempIntake:    p.temp_f,\n    rhExhaust:     p.rh_pct,\n    rhIntake:      p.rh_pct,\n    lux:           p.lux,\n    tankTemp:      p.tank_temp_f,\n    soilPct:       [p.soil1_pct, p.soil2_pct, p.soil3_pct, p.soil4_pct],\n    valveOn:       [p.row1===true, p.row2===true, p.row3===true, p.row4===true],\n    rowEnabled:    [p.row1_en!==false, p.row2_en!==false, p.row3_en!==false, p.row4_en!==false],\n    pumpOn:        p.pump_on === true,\n    lightOn:       p.light_on === true,\n    fanPwm:        p.fan_pwm,\n    tankHeaterOn:  p.heater_on === true,\n    louvreState:   Number(p.louvre_state_raw),\n    louvrePos:     p.louvre_pos_pct,\n    mode:          p.mode,\n    irrigationMode: p.irrigation_mode,\n    rowsRunActive: p.rows_run_active === true,\n    activeRowIndex: p.active_row,\n    tempOpenF:     p.temp_open_f,\n    tempCloseF:    p.temp_close_f,\n    ecoMode:       p.eco_mode === true,\n    pvPresent:     p.pv_present === true,\n    battV:         p.batt_v,\n    pvV:           p.pv_v,\n    tankHeatOnF:   p.tank_heat_on_f,\n    tankHeatOffF:  p.tank_heat_off_f,\n    scheduleIntervalMs: p.schedule_interval_ms,\n    hw:            p.hw || {},\n    rhOpenPct:     p.rh_open_pct,\n    commFault:     flow.get('arduino_comm_fault') || 0,\n\n    // #4: per-row arrays instead of row1-only scalars\n    soilStartPct:  [p.row1_start_pct, p.row2_start_pct, p.row3_start_pct, p.row4_start_pct],\n    soilStopPct:   [p.row1_stop_pct, p.row2_stop_pct, p.row3_stop_pct, p.row4_stop_pct],\n    rowDurationMs: [p.row1_ms, p.row2_ms, p.row3_ms, p.row4_ms],\n\n    // #6: canonical fault fields from Final Live Payload\n    arduinoFault:  p.fault || 0,\n    faultCount:    p.fault_count || 0,\n    systemFault:   p.system_fault || 0,\n    faults:        p.faults || {}\n};\n\nmsg.payload = JSON.stringify(out);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "ws_out_node_001"
            ]
        ]
    },
    {
        "id": "ws_out_node_001",
        "type": "websocket out",
        "z": "6cda5a5f32196c63",
        "name": "WS → Dashboard",
        "server": "ws_in_node_001",
        "client": "",
        "x": 1430,
        "y": 480,
        "wires": []
    },
    {
        "id": "ws_cmd_in_node_001",
        "type": "websocket in",
        "z": "6cda5a5f32196c63",
        "name": "WS Commands ← Dashboard",
        "server": "ws_in_node_001",
        "client": "",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "ws_cmd_func_001"
            ]
        ]
    },
    {
        "id": "ws_cmd_func_001",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "WS Command → Serial",
        "func": "// Receives JSON commands from the dashboard HTML page\n// and converts them to the serial strings the Arduino expects.\nlet d;\ntry { d = JSON.parse(msg.payload); } catch(e) { return null; }\n\nlet cmd = d.command;\nlet val = d.value;\nlet serial = null;\n\nif (cmd === 'MODE') {\n    // AUTO or MANUAL\n    serial = 'MODE ' + val;\n} else if (cmd === 'LOUVRE') {\n    // OPEN, CLOSE, STOP\n    serial = 'LOUVRE ' + val;\n} else if (cmd === 'FAN') {\n    // val is '0','50','100' → map to PWM 0,128,255\n    let pct = parseInt(val, 10);\n    let pwm = pct === 0 ? 0 : pct === 50 ? 128 : 255;\n    serial = 'FAN ' + pwm;\n} else if (cmd === 'LIGHT') {\n    // ON or OFF\n    serial = 'LIGHT ' + val;\n} else if (cmd === 'IRRIGATION') {\n    serial = 'IRRIGATION ' + val;\n} else if (cmd === 'ROW_ENABLE') {\n    // val expected as '1:ON' or '2:OFF'\n    let parts = String(val).split(':');\n    if (parts.length === 2) serial = 'ROW_ENABLE ' + parts[0] + ' ' + parts[1];\n} else if (cmd === 'RUN_ROWS') {\n    serial = 'RUN_ROWS';\n} else if (cmd === 'STOP_ROWS') {\n    serial = 'STOP_ROWS';\n}\n\nif (!serial) return null;\n\n// Append newline — the Arduino parser requires it\nmsg.payload = serial + '\\n';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 940,
        "wires": [
            [
                "a2a532efe1bbf72b"
            ]
        ]
    },
    {
        "id": "hwconfig0000001",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Hardware Config",
        "func": "var defaults = {\n    soil1: true,\n    soil2: false,\n    soil3: false,\n    soil4: false,\n    tank_temp: false,\n    pump: false,\n    heater: false,\n    pv: false\n};\n\nvar hw = flow.get('hw_config');\nif (!hw) {\n    hw = defaults;\n    flow.set('hw_config', hw);\n}\n\nvar p = msg.payload || {};\np.hw = hw;\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "dd71f97f1b1584dd"
            ]
        ]
    },
    {
        "id": "a2a532efe1bbf72b",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "enable control",
        "func": "// ===== USER CONTROL =====\nlet control_state = 0; // 1 = allow, 0 = block\n// =======================\n\nif (control_state === 1) {\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 700,
        "wires": [
            [
                "12cca41621c67cb4"
            ]
        ]
    },
    {
        "id": "mqttedgeexport001",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Publish Compact MQTT Edge",
        "func": "let p = msg.payload;\nif (!p || typeof p !== \"object\") return null;\n\nlet out = {\n    schema: \"greenhouse.edge.v1\",\n    stream: \"edge\",\n    ts: (typeof p.ts === \"number\") ? p.ts : Date.now(),\n    temp_f: p.temp_f,\n    rh_pct: p.rh_pct,\n    soil_avg_pct: p.soil_avg_pct,\n    lux: p.lux,\n    mode: p.mode,\n    irrigation_mode: p.irrigation_mode,\n    louvre_pos_pct: p.louvre_pos_pct,\n    louvre_state: p.louvre_state,\n    fan_pct: p.fan_pct,\n    light_on: p.light_on === true,\n    pump_on: p.pump_on === true,\n    heater_on: p.heater_on === true,\n    active_row: p.active_row,\n    rows_run_active: p.rows_run_active === true,\n    rows_run_auto: p.rows_run_auto === true,\n    system_fault: Number(p.system_fault || 0),\n    fault_count: Number(p.fault_count || 0),\n    faults: p.faults || {},\n    fallback_used: p.fallback_used === true\n};\n\nmsg.topic = \"greenhouse/data/edge\";\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 300,
        "wires": [
            [
                "fb8c481a34f0fd0e"
            ]
        ]
    },
    {
        "id": "hb_inject_001",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "1s Heartbeat",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "hb_func_001"
            ]
        ]
    },
    {
        "id": "hb_func_001",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "node red status indicator",
        "func": "msg.payload = JSON.stringify({heartbeat: true, ts: Date.now()});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "ws_out_node_001"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60001",
        "type": "inject",
        "z": "6cda5a5f32196c63",
        "name": "init schema v3 (on deploy)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "a1b2c3d4e5f60002"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60002",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "build schema SQL",
        "func": "// Fires once on deploy to ensure greenhouse_db_v3 schema exists.\n// Sends two messages (CREATE TABLE, then CREATE INDEX) to the sqlite node.\nvar createTable = \"CREATE TABLE IF NOT EXISTS greenhouse_samples (ts INTEGER PRIMARY KEY,t1 REAL,t2 REAL,tavg REAL,h1 REAL,h2 REAL,havg REAL,soil REAL,lux REAL,louvre_pct REAL,louvre_state TEXT,fan_pct REAL,lightOn INTEGER,fault_count INTEGER,system_fault INTEGER,mode TEXT,irrigation_mode TEXT,temp_f REAL,rh_pct REAL,tank_temp_f REAL,soil1_raw REAL,soil1_pct REAL,soil2_raw REAL,soil2_pct REAL,soil3_raw REAL,soil3_pct REAL,soil4_raw REAL,soil4_pct REAL,batt_v REAL,pv_v REAL,pv_present INTEGER,louvre_pos_pct REAL,row1 INTEGER,row2 INTEGER,row3 INTEGER,row4 INTEGER,row1_en INTEGER,row2_en INTEGER,row3_en INTEGER,row4_en INTEGER,row1_ms INTEGER,row2_ms INTEGER,row3_ms INTEGER,row4_ms INTEGER,row1_start_pct REAL,row2_start_pct REAL,row3_start_pct REAL,row4_start_pct REAL,row1_stop_pct REAL,row2_stop_pct REAL,row3_stop_pct REAL,row4_stop_pct REAL,pump_on INTEGER,heater_on INTEGER,light_on INTEGER,fan_pwm INTEGER,rows_run_active INTEGER,rows_run_auto INTEGER,active_row INTEGER,temp_open_f REAL,temp_close_f REAL,rh_open_pct REAL,tank_heat_on_f REAL,tank_heat_off_f REAL,schedule_interval_ms INTEGER,eco_mode INTEGER,controller_fault INTEGER)\";\nvar createIndex = \"CREATE INDEX IF NOT EXISTS idx_greenhouse_samples_ts ON greenhouse_samples(ts)\";\nnode.send({ topic: createTable, payload: [] });\nnode.send({ topic: createIndex, payload: [] });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "b91ca825f88143fb"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60003",
        "type": "delay",
        "z": "6cda5a5f32196c63",
        "name": "DB throttle (1/10s)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "b91ca825f88143fb"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60004",
        "type": "http in",
        "z": "6cda5a5f32196c63",
        "name": "GET /history.csv",
        "url": "/history.csv",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "a1b2c3d4e5f60005"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60005",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "parse range params",
        "func": "var q = (msg.req && msg.req.query) || {};\nmsg.from = q.from ? Number(q.from) : 0;\nmsg.to = q.to ? Number(q.to) : Number.MAX_SAFE_INTEGER;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            [
                "a1b2c3d4e5f60006"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60006",
        "type": "file in",
        "z": "6cda5a5f32196c63",
        "name": "read gh_data.csv",
        "filename": "/home/pff/greenhouse/logs/gh_data.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 580,
        "wires": [
            [
                "a1b2c3d4e5f60007"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60007",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "filter by ts range",
        "func": "var from = Number(msg.from || 0);\nvar to = Number(msg.to || Number.MAX_SAFE_INTEGER);\nvar content = msg.payload;\nif (content && content.toString) content = content.toString();\nif (!content) {\n    msg.payload = \"\";\n    msg.headers = { \"Content-Type\": \"text/csv\" };\n    msg.statusCode = 200;\n    return msg;\n}\nvar lines = content.split(\"\\n\");\nif (lines.length === 0) {\n    msg.payload = \"\";\n    msg.headers = { \"Content-Type\": \"text/csv\" };\n    return msg;\n}\nvar header = lines[0];\nvar out = [header];\nfor (var i = 1; i < lines.length; i++) {\n    var line = lines[i];\n    if (!line) continue;\n    var commaIdx = line.indexOf(\",\");\n    if (commaIdx < 0) continue;\n    var ts = Number(line.substring(0, commaIdx));\n    if (Number.isNaN(ts)) continue;\n    if (ts >= from && ts <= to) out.push(line);\n}\nmsg.payload = out.join(\"\\n\") + \"\\n\";\nmsg.headers = { \"Content-Type\": \"text/csv\" };\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 580,
        "wires": [
            [
                "a1b2c3d4e5f60008"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60008",
        "type": "http response",
        "z": "6cda5a5f32196c63",
        "name": "respond CSV",
        "statusCode": "",
        "headers": {},
        "x": 1410,
        "y": 580,
        "wires": []
    },
    {
        "id": "a1b2c3d4e5f60009",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "check/write csv header",
        "func": "var fs = require(\"fs\");\nvar path = \"/home/pff/greenhouse/logs/gh_data.csv\";\nvar header = \"ts,t1,t2,tavg,h1,h2,havg,soil,lux,louvre_pct,louvre_state,fan_pct,lightOn,fault_count,system_fault,mode,irrigation_mode,temp_f,rh_pct,tank_temp_f,soil1_raw,soil1_pct,soil2_raw,soil2_pct,soil3_raw,soil3_pct,soil4_raw,soil4_pct,batt_v,pv_v,pv_present,louvre_pos_pct,row1,row2,row3,row4,row1_en,row2_en,row3_en,row4_en,row1_ms,row2_ms,row3_ms,row4_ms,row1_start_pct,row2_start_pct,row3_start_pct,row4_start_pct,row1_stop_pct,row2_stop_pct,row3_stop_pct,row4_stop_pct,pump_on,heater_on,light_on,fan_pwm,rows_run_active,rows_run_auto,active_row,temp_open_f,temp_close_f,rh_open_pct,tank_heat_on_f,tank_heat_off_f,schedule_interval_ms,eco_mode,controller_fault\n\";\n\ntry {\n    var dir = require(\"path\").dirname(path);\n    if (!fs.existsSync(dir)) {\n        fs.mkdirSync(dir, { recursive: true });\n    }\n\n    if (!fs.existsSync(path)) {\n        fs.writeFileSync(path, header);\n        node.warn(\"Created \" + path + \" with header\");\n        return null;\n    }\n\n    var fd = fs.openSync(path, \"r\");\n    var buf = Buffer.alloc(4);\n    var bytesRead = fs.readSync(fd, buf, 0, 4, 0);\n    fs.closeSync(fd);\n\n    if (bytesRead === 0) {\n        fs.writeFileSync(path, header);\n        node.warn(\"Wrote header to empty \" + path);\n        return null;\n    }\n\n    var firstChars = buf.toString(\"utf8\", 0, bytesRead);\n    var firstCharIsDigit = /^[0-9]/.test(firstChars);\n\n    if (firstCharIsDigit) {\n        var existing = fs.readFileSync(path, \"utf8\");\n        fs.writeFileSync(path, header + existing);\n        node.warn(\"Prepended header to \" + path);\n    } else {\n        node.log(\"Header already present in \" + path);\n    }\n} catch (e) {\n    node.error(\"csv header check failed: \" + e.message);\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            },
            {
                "var": "path",
                "module": "path"
            }
        ],
        "x": 560,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b2c3d4e5f60010",
        "type": "function",
        "z": "6cda5a5f32196c63",
        "name": "Format for Storage",
        "func": "var p = msg.payload || {};\nvar ts = Date.now();\nif (p.temp_f == null || p.rh_pct == null) return null;\n\nvar ctrlFault = (p.fault == null || Number.isNaN(Number(p.fault))) ? 0 : Number(p.fault);\nvar fanPct = p.fan_pct != null ? p.fan_pct : p.fan_pwm;\n\nvar cols = [\n  ['ts',              ts,                    'num'],\n  ['t1',              p.temp_f,              'num'],\n  ['t2',              p.temp_f,              'num'],\n  ['tavg',            p.temp_f,              'num'],\n  ['h1',              p.rh_pct,              'num'],\n  ['h2',              p.rh_pct,              'num'],\n  ['havg',            p.rh_pct,              'num'],\n  ['soil',            p.soil_avg_pct,        'num'],\n  ['lux',             p.lux,                 'num'],\n  ['louvre_pct',      p.louvre_pos_pct,       'num'],\n  ['louvre_state',    p.louvre_state,         'text'],\n  ['fan_pct',         fanPct,                'num'],\n  ['lightOn',         p.light_on,            'bool'],\n  ['fault_count',     Number(p.fault_count || 0), 'num'],\n  ['system_fault',    Number(p.system_fault || 0), 'num'],\n  ['mode',            p.mode,                'text'],\n  ['irrigation_mode', p.irrigation_mode,     'text'],\n  ['temp_f',          p.temp_f,              'num'],\n  ['rh_pct',          p.rh_pct,              'num'],\n  ['tank_temp_f',     p.tank_temp_f,         'num'],\n  ['soil1_raw',       p.soil1_raw,           'num'],\n  ['soil1_pct',       p.soil1_pct,           'num'],\n  ['soil2_raw',       p.soil2_raw,           'num'],\n  ['soil2_pct',       p.soil2_pct,           'num'],\n  ['soil3_raw',       p.soil3_raw,           'num'],\n  ['soil3_pct',       p.soil3_pct,           'num'],\n  ['soil4_raw',       p.soil4_raw,           'num'],\n  ['soil4_pct',       p.soil4_pct,           'num'],\n  ['batt_v',          p.batt_v,              'num'],\n  ['pv_v',            p.pv_v,                'num'],\n  ['pv_present',      p.pv_present,          'bool'],\n  ['louvre_pos_pct',  p.louvre_pos_pct,       'num'],\n  ['row1',            p.row1,                'bool'],\n  ['row2',            p.row2,                'bool'],\n  ['row3',            p.row3,                'bool'],\n  ['row4',            p.row4,                'bool'],\n  ['row1_en',         p.row1_en,             'bool'],\n  ['row2_en',         p.row2_en,             'bool'],\n  ['row3_en',         p.row3_en,             'bool'],\n  ['row4_en',         p.row4_en,             'bool'],\n  ['row1_ms',         p.row1_ms,             'num'],\n  ['row2_ms',         p.row2_ms,             'num'],\n  ['row3_ms',         p.row3_ms,             'num'],\n  ['row4_ms',         p.row4_ms,             'num'],\n  ['row1_start_pct',  p.row1_start_pct,      'num'],\n  ['row2_start_pct',  p.row2_start_pct,      'num'],\n  ['row3_start_pct',  p.row3_start_pct,      'num'],\n  ['row4_start_pct',  p.row4_start_pct,      'num'],\n  ['row1_stop_pct',   p.row1_stop_pct,       'num'],\n  ['row2_stop_pct',   p.row2_stop_pct,       'num'],\n  ['row3_stop_pct',   p.row3_stop_pct,       'num'],\n  ['row4_stop_pct',   p.row4_stop_pct,       'num'],\n  ['pump_on',         p.pump_on,             'bool'],\n  ['heater_on',       p.heater_on,           'bool'],\n  ['light_on',        p.light_on,            'bool'],\n  ['fan_pwm',         p.fan_pwm,             'num'],\n  ['rows_run_active', p.rows_run_active,     'bool'],\n  ['rows_run_auto',   p.rows_run_auto,       'bool'],\n  ['active_row',      p.active_row,          'num'],\n  ['temp_open_f',     p.temp_open_f,         'num'],\n  ['temp_close_f',    p.temp_close_f,        'num'],\n  ['rh_open_pct',     p.rh_open_pct,         'num'],\n  ['tank_heat_on_f',  p.tank_heat_on_f,      'num'],\n  ['tank_heat_off_f', p.tank_heat_off_f,     'num'],\n  ['schedule_interval_ms', p.schedule_interval_ms, 'num'],\n  ['eco_mode',        p.eco_mode,            'bool'],\n  ['controller_fault', ctrlFault,            'num']\n];\n\nfunction sqlVal(val, type) {\n  if (val === undefined || val === null || val === '') return 'NULL';\n  if (type === 'bool') {\n    if (val === true || val === 1 || val === '1') return 1;\n    if (val === false || val === 0 || val === '0') return 0;\n    return 'NULL';\n  }\n  if (type === 'text') return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n  var n = Number(val);\n  return Number.isNaN(n) ? 'NULL' : n;\n}\n\nfunction csvVal(val, type) {\n  if (val === undefined || val === null || val === '') return '';\n  if (type === 'bool') {\n    if (val === true || val === 1 || val === '1') return '1';\n    if (val === false || val === 0 || val === '0') return '0';\n    return '';\n  }\n  if (type === 'text') {\n    var s = String(val);\n    if (s.indexOf(',') >= 0 || s.indexOf('\"') >= 0 || s.indexOf('\\n') >= 0) {\n      return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n    }\n    return s;\n  }\n  var n = Number(val);\n  return Number.isNaN(n) ? '' : String(n);\n}\n\nvar names = cols.map(function(c) { return c[0]; });\nvar sqlVals = cols.map(function(c) { return sqlVal(c[1], c[2]); });\nvar csvVals = cols.map(function(c) { return csvVal(c[1], c[2]); });\n\nvar sqlMsg = {\n  topic: 'INSERT INTO greenhouse_samples (' + names.join(',') + ') VALUES (' + sqlVals.join(',') + ');',\n  payload: []\n};\nvar csvMsg = {\n  payload: csvVals.join(',') + '\\n'\n};\n\nreturn [sqlMsg, csvMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 220,
        "wires": [
            [
                "a1b2c3d4e5f60003"
            ],
            [
                "6b81021f817b48c5"
            ]
        ]
    }
]